.tz-slider {
  --tz-slider-track-height: 10px;
  --tz-slider-handle-size: 1rem;

  color: var(--tz-text-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--tz-space-100);
  max-width: 100%;
  width: 15rem;

  &[data-orientation="vertical"] {
    height: 15rem;
    width: auto;
  }
}

.tz-slider-handle {
  --border-size: 1px;
  --handle-offset: calc(
    var(--tz-slider-handle-size) - var(--tz-slider-track-height) -
      (2 * var(--border-size))
  );

  background: var(--tz-color-base-gray-000);
  border-color: var(--tz-color-base-gray-700);
  border-radius: var(--tz-slider-handle-size);
  border-style: solid;
  border-width: var(--border-size);
  box-shadow: var(--tz-shadow-100);
  box-sizing: border-box;
  cursor: grab;
  height: var(--tz-slider-handle-size);
  left: calc(-0.5 * var(--tz-slider-handle-size));
  padding: 0;
  position: absolute;
  top: 50%;
  touch-action: pan-x;
  transform: translate3d(var(--tz-slider-handle-position), -50%, 0);
  width: var(--tz-slider-handle-size);
  z-index: calc(var(--tz-layer-base) + 1);

  &[data-orientation="vertical"] {
    bottom: calc(-0.5 * var(--tz-slider-handle-size));
    left: 50%;
    top: auto;
    touch-action: pan-y;
    transform: translate3d(
      -50%,
      calc(-1 * var(--tz-slider-handle-position)),
      0
    );
  }

  &[data-variant="color"]::after {
    background-color: var(--tz-slider-handle-color);
    border-radius: var(--tz-slider-handle-size);
    box-shadow: inset 0 0 0 1px rgb(0 0 0/0.2);
    content: "";
    height: var(--tz-slider-track-height);
    left: calc(0.5 * var(--handle-offset));
    pointer-events: none;
    position: absolute;
    top: calc(0.5 * var(--handle-offset));
    width: var(--tz-slider-track-height);
    z-index: calc(var(--tz-layer-base) + 2);
  }

  &:hover {
    border-color: var(--tz-color-base-gray-900);
  }

  &:active {
    cursor: grabbing;
  }
}

.tz-slider-input {
  input {
    width: 3rem;
  }
}

.tz-slider-inputpair {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tz-slider-label {
  font-size: var(--tz-typography-200-regular-font-size);
  user-select: none;
}

.tz-slider-track {
  inset: 0;
  position: absolute;
  z-index: 3;
}

body.tz-slider-is-grabbing,
body.tz-slider-is-grabbing .tz-slider-handle,
body.tz-slider-is-grabbing .tz-slider-track {
  cursor: grabbing;
}
