body {
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-body-font-size);
  font-variation-settings: var(--tz-font-body-font-variation-settings);
  font-weight: var(--tz-font-body-font-weight);
  line-height: 1;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sb-show-main {
  background: rgb(100% 100% 100%);
}

@media (prefers-color-scheme: dark) {
  .sb-show-main {
    background: rgb(0% 0% 0%);
    color: rgb(100% 100% 100%);
  }
}
