@import "tailwind";

@theme {
  --color-blue-0: #ddf4ff;
  --color-blue-1: #b6e3ff;
  --color-blue-2: #80ccff;
  --color-blue-3: #54aeff;
  --color-blue-4: #218bff;
  --color-blue-5: #0969da;
  --color-blue-6: #0550ae;
  --color-blue-7: #033d8b;
  --color-blue-8: #0a3069;
  --color-blue-9: #002155;
  --color-green-0: #dafbe1;
  --color-green-1: #aceebb;
  --color-green-2: #6fdd8b;
  --color-green-3: #4ac26b;
  --color-green-4: #2da44e;
  --color-green-5: #1a7f37;
  --color-green-6: #116329;
  --color-green-7: #044f1e;
  --color-green-8: #003d16;
  --color-green-9: #002d11;
  --color-neutral-0: #f6f8fa;
  --color-neutral-1: #eaeef2;
  --color-neutral-2: #d0d7de;
  --color-neutral-3: #afb8c1;
  --color-neutral-4: #8c959f;
  --color-neutral-5: #6e7781;
  --color-neutral-6: #57606a;
  --color-neutral-7: #424a53;
  --color-neutral-8: #32383f;
  --color-neutral-9: #24292f;
  --color-orange-0: #fff1e5;
  --color-orange-1: #ffd8b5;
  --color-orange-2: #ffb77c;
  --color-orange-3: #fb8f44;
  --color-orange-4: #e16f24;
  --color-orange-5: #bc4c00;
  --color-orange-6: #953800;
  --color-orange-7: #762c00;
  --color-orange-8: #5c2200;
  --color-orange-9: #471700;
  --color-purple-0: #fbefff;
  --color-purple-1: #ecd8ff;
  --color-purple-2: #d8b9ff;
  --color-purple-3: #c297ff;
  --color-purple-4: #a475f9;
  --color-purple-5: #8250df;
  --color-purple-6: #6639ba;
  --color-purple-7: #512a97;
  --color-purple-8: #3e1f79;
  --color-purple-9: #2e1461;
  --color-red-0: #ffebe9;
  --color-red-1: #ffcecb;
  --color-red-2: #ffaba8;
  --color-red-3: #ff8182;
  --color-red-4: #fa4549;
  --color-red-5: #cf222e;
  --color-red-6: #a40e26;
  --color-red-7: #82071e;
  --color-red-8: #660018;
  --color-red-9: #4c0014;
  --color-yellow-0-: #fff8c5;
  --color-yellow-1-: #fae17d;
  --color-yellow-2-: #eac54f;
  --color-yellow-3-: #d4a72c;
  --color-yellow-4-: #bf8700;
  --color-yellow-5-: #9a6700;
  --color-yellow-6-: #7d4e00;
  --color-yellow-7-: #633c01;
  --color-yellow-8-: #4d2d00;
  --color-yellow-9-: #3b2300;
  --font-sans-: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Noto Sans", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --spacing-xxs-: 2px;
  --spacing-xs-: var(--size-4);
  --spacing-sm-: 6px;
  --spacing-md-: var(--size-8);
  --spacing-lg-: var(--size-12);
  --spacing-xl-: var(--size-16);
  --radius-small: 3px;
  --radius-medium: 6px;
  --radius-large: 12px;
  --radius-full: 9999px;
  --fooArray-0: #dafbe1;
  --fooArray-1: #aceebb;
  --fooArray-2: #6fdd8b;
  --fooArray-3: #4ac26b;
  --fooArray-4: #2da44e;
  --fooArray-5: #1a7f37;
  --fooArray-6: #116329;
  --fooArray-7: #044f1e;
  --fooArray-8: #003d16;
  --fooArray-9: #002d11;
}

@variant dark {
  --color-blue-0: #cae8ff;
  --color-blue-1: #a5d6ff;
  --color-blue-2: #79c0ff;
  --color-blue-3: #58a6ff;
  --color-blue-4: #388bfd;
  --color-blue-5: #1f6feb;
  --color-blue-6: #1158c7;
  --color-blue-7: #0d419d;
  --color-blue-8: #0c2d6b;
  --color-blue-9: #051d4d;
  --color-green-0: #aff5b4;
  --color-green-1: #7ee787;
  --color-green-2: #56d364;
  --color-green-3: #3fb950;
  --color-green-4: #2ea043;
  --color-green-5: #238636;
  --color-green-6: #196c2e;
  --color-green-7: #0f5323;
  --color-green-8: #033a16;
  --color-green-9: #04260f;
  --color-neutral-0: #f0f6fc;
  --color-neutral-1: #c9d1d9;
  --color-neutral-2: #b1bac4;
  --color-neutral-3: #8b949e;
  --color-neutral-4: #6e7681;
  --color-neutral-5: #484f58;
  --color-neutral-6: #30363d;
  --color-neutral-7: #21262d;
  --color-neutral-8: #161b22;
  --color-neutral-9: #0d1117;
  --color-orange-0: #ffdfb6;
  --color-orange-1: #ffc680;
  --color-orange-2: #ffa657;
  --color-orange-3: #f0883e;
  --color-orange-4: #db6d28;
  --color-orange-5: #bd561d;
  --color-orange-6: #9b4215;
  --color-orange-7: #762d0a;
  --color-orange-8: #5a1e02;
  --color-orange-9: #3d1300;
  --color-purple-0: #eddeff;
  --color-purple-1: #e2c5ff;
  --color-purple-2: #d2a8ff;
  --color-purple-3: #bc8cff;
  --color-purple-4: #a371f7;
  --color-purple-5: #8957e5;
  --color-purple-6: #6e40c9;
  --color-purple-7: #553098;
  --color-purple-8: #3c1e70;
  --color-purple-9: #271052;
  --color-red-0: #ffdcd7;
  --color-red-1: #ffc1ba;
  --color-red-2: #ffa198;
  --color-red-3: #ff7b72;
  --color-red-4: #f85149;
  --color-red-5: #da3633;
  --color-red-6: #b62324;
  --color-red-7: #8e1519;
  --color-red-8: #67060c;
  --color-red-9: #490202;
  --color-yellow-0-: #f8e3a1;
  --color-yellow-1-: #f2cc60;
  --color-yellow-2-: #e3b341;
  --color-yellow-3-: #d29922;
  --color-yellow-4-: #bb8009;
  --color-yellow-5-: #9e6a03;
  --color-yellow-6-: #845306;
  --color-yellow-7-: #693e00;
  --color-yellow-8-: #4b2900;
  --color-yellow-9-: #341a00;
  --fooArray-0: #aff5b4;
  --fooArray-1: #7ee787;
  --fooArray-2: #56d364;
  --fooArray-3: #3fb950;
  --fooArray-4: #2ea043;
  --fooArray-5: #238636;
  --fooArray-6: #196c2e;
  --fooArray-7: #0f5323;
  --fooArray-8: #033a16;
  --fooArray-9: #04260f;
}

@variant light-hc {
  --color-blue-0: #dff7ff;
  --color-blue-1: #9cd7ff;
  --color-blue-2: #67b3fd;
  --color-blue-3: #368cf9;
  --color-blue-4: #1168e3;
  --color-blue-5: #0349b4;
  --color-blue-6: #023b95;
  --color-blue-7: #022f7a;
  --color-blue-8: #032563;
  --color-blue-9: #021a4a;
  --color-green-0: #d2fedb;
  --color-green-1: #82e596;
  --color-green-2: #43c663;
  --color-green-3: #26a148;
  --color-green-4: #117f32;
  --color-green-5: #055d20;
  --color-green-6: #024c1a;
  --color-green-7: #013d14;
  --color-green-8: #003110;
  --color-green-9: #00230b;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #e7ecf0;
  --color-neutral-2: #ced5dc;
  --color-neutral-3: #acb6c0;
  --color-neutral-4: #88929d;
  --color-neutral-5: #66707b;
  --color-neutral-6: #4b535d;
  --color-neutral-7: #343b43;
  --color-neutral-8: #20252c;
  --color-neutral-9: #0e1116;
  --color-orange-0: #fff2d5;
  --color-orange-1: #ffc67b;
  --color-orange-2: #f99636;
  --color-orange-3: #dc6d1a;
  --color-orange-4: #b45105;
  --color-orange-5: #873800;
  --color-orange-6: #702c00;
  --color-orange-7: #5b2300;
  --color-orange-8: #491b00;
  --color-orange-9: #361200;
  --color-purple-0: #faf0fe;
  --color-purple-1: #e0c5ff;
  --color-purple-2: #c49bff;
  --color-purple-3: #a371f7;
  --color-purple-4: #844ae7;
  --color-purple-5: #622cbc;
  --color-purple-6: #512598;
  --color-purple-7: #411d7b;
  --color-purple-8: #341763;
  --color-purple-9: #260f49;
  --color-red-0: #fff0ee;
  --color-red-1: #ffc1bc;
  --color-red-2: #ff8e8a;
  --color-red-3: #ee5a5d;
  --color-red-4: #d5232c;
  --color-red-5: #a0111f;
  --color-red-6: #86061d;
  --color-red-7: #6e011a;
  --color-red-8: #5a0016;
  --color-red-9: #430011;
  --color-yellow-0-: #fcf7be;
  --color-yellow-1-: #f0ce53;
  --color-yellow-2-: #d5a824;
  --color-yellow-3-: #b58407;
  --color-yellow-4-: #956400;
  --color-yellow-5-: #744500;
  --color-yellow-6-: #603700;
  --color-yellow-7-: #4e2c00;
  --color-yellow-8-: #3f2200;
  --color-yellow-9-: #2e1800;
  --fooArray-0: #d2fedb;
  --fooArray-1: #82e596;
  --fooArray-2: #43c663;
  --fooArray-3: #26a148;
  --fooArray-4: #117f32;
  --fooArray-5: #055d20;
  --fooArray-6: #024c1a;
  --fooArray-7: #013d14;
  --fooArray-8: #003110;
  --fooArray-9: #00230b;
}

@variant dark-hc {
  --color-blue-0: #caeaff;
  --color-blue-1: #addcff;
  --color-blue-2: #91cbff;
  --color-blue-3: #71b7ff;
  --color-blue-4: #409eff;
  --color-blue-5: #409eff;
  --color-blue-6: #318bf8;
  --color-blue-7: #2672f3;
  --color-blue-8: #1e60d5;
  --color-blue-9: #194fb1;
  --color-green-0: #acf7b6;
  --color-green-1: #72f088;
  --color-green-2: #4ae168;
  --color-green-3: #26cd4d;
  --color-green-4: #09b43a;
  --color-green-5: #09b43a;
  --color-green-6: #02a232;
  --color-green-7: #008c2c;
  --color-green-8: #007728;
  --color-green-9: #006222;
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f0f3f6;
  --color-neutral-2: #d9dee3;
  --color-neutral-3: #bdc4cc;
  --color-neutral-4: #9ea7b3;
  --color-neutral-5: #7a828e;
  --color-neutral-6: #525964;
  --color-neutral-7: #272b33;
  --color-neutral-8: #272b33;
  --color-neutral-9: #0a0c10;
  --color-orange-0: #ffe1b4;
  --color-orange-1: #ffcf86;
  --color-orange-2: #ffb757;
  --color-orange-3: #fe9a2d;
  --color-orange-4: #e7811d;
  --color-orange-5: #e7811d;
  --color-orange-6: #d57014;
  --color-orange-7: #bf5e0a;
  --color-orange-8: #a74c00;
  --color-orange-9: #8f3c00;
  --color-purple-0: #f0dfff;
  --color-purple-1: #e6ccff;
  --color-purple-2: #dbb7ff;
  --color-purple-3: #cb9eff;
  --color-purple-4: #b780ff;
  --color-purple-5: #b87fff;
  --color-purple-6: #a66bff;
  --color-purple-7: #954ffd;
  --color-purple-8: #8031f7;
  --color-purple-9: #6921d7;
  --color-red-0: #ffdedb;
  --color-red-1: #ffc9c7;
  --color-red-2: #ffb1af;
  --color-red-3: #ff9492;
  --color-red-4: #ff6a69;
  --color-red-5: #ff6a69;
  --color-red-6: #ff4445;
  --color-red-7: #e82a2f;
  --color-red-8: #cc1421;
  --color-red-9: #ad0116;
  --color-yellow-0-: #fbe59e;
  --color-yellow-1-: #fbd669;
  --color-yellow-2-: #f7c843;
  --color-yellow-3-: #f0b72f;
  --color-yellow-4-: #e09b13;
  --color-yellow-5-: #e09b13;
  --color-yellow-6-: #c88508;
  --color-yellow-7-: #ae7104;
  --color-yellow-8-: #945d02;
  --color-yellow-9-: #7b4900;
  --fooArray-0: #acf7b6;
  --fooArray-1: #72f088;
  --fooArray-2: #4ae168;
  --fooArray-3: #26cd4d;
  --fooArray-4: #09b43a;
  --fooArray-5: #09b43a;
  --fooArray-6: #02a232;
  --fooArray-7: #008c2c;
  --fooArray-8: #007728;
  --fooArray-9: #006222;
}
