---
import DocsNav from '../components/DocsNav.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import SkipToMain from '../components/SkipToMain.astro';

const {content = {}} = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <Head title={content.title ? `${content.title} / Cobalt design tokens}` : 'Docs / Cobalt design tokens'} />
    <style lang="scss">
      @use '../../tokens' as *;

      .docs {
        display: flex;
        flex-direction: column;

        @media (min-width: 600px) {
          flex-direction: row;
          padding-right: token('space.layout.2xl');
        }
      }
    </style>
  </head>
  <body>
    <SkipToMain />
    <Nav />
    <div class="docs">
      <DocsNav />
      <main class="wrapper content md-content" id="#main">
        <slot />
      </main>
    </div>
    <Footer />
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "f5713e86f9aa43278151f2763d6b59ae"}'></script>
  </body>
</html>
