.tz-color-picker {
  background-color: var(--tz-color-control-bg);
  color: var(--tz-text-primary);
  display: flex;
  flex-direction: column;
  gap: var(--tz-space-200);
}

.tz-color-picker-code {
  --copy-btn-width: 2rem;

  display: flex;
  padding: 0;
  position: relative;
}

.tz-color-picker-code-input {
  --tz-color-picker-input-bg: var(--tz-color-control-bg);
  --tz-color-picker-input-border: var(--tz-color-control-border);
  --tz-color-picker-input-text: var(--tz-color-control-text);

  background-color: var(--tz-color-picker-input-bg);
  border: 1px solid var(--tz-color-picker-input-border);
  border-radius: var(--tz-radius-300);
  color: var(--tz-color-picker-input);
  flex: 1 0 auto;
  font-family: var(--tz-typography-family-mono);
  font-size: var(--tz-typography-100-regular-font-size);
  font-variant-ligatures: none;
  font-weight: var(--tz-typography-100-regular-font-weight);
  height: var(--tz-space-control-m);
  letter-spacing: 0;
  line-height: var(--tz-space-control-m);
  outline: none;
  padding: 0;
  text-indent: var(--tz-space-200);

  &:focus {
    --tz-color-picker-input-border: var(--tz-color-control-border-focus);
  }
}

.tz-color-picker-preview {
  border: 1px solid var(--tz-button-secondary-border);
  border-radius: var(--tz-radius-300);
  display: flex;
  flex-direction: column;
}

.tz-color-picker-sliders {
  display: flex;
  flex-direction: column;
  gap: var(--tz-space-200);
}

.tz-color-picker-swatch {
  background-image: linear-gradient(var(--current-color), var(--current-color)),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><rect fill='%23dad9d6' width='32' height='32'/><rect fill='%23dad9d6' x='32' y='32' width='32' height='32'/></svg>");
  background-repeat: no-repeat, repeat;
  background-size:
    100% 100%,
    10px;
  border-top-left-radius: var(--tz-radius-300);
  border-top-right-radius: var(--tz-radius-300);
  height: 6rem;
}

.tz-color-picker-tooltip-icon {
  color: var(--tz-color-base-gray-900);
}
