.tz-select {
  --tz-select-text: var(--tz-color-base-gray-1100);
  --tz-select-border: var(--tz-color-base-gray-400);
  --tz-select-bg: var(--tz-color-base);

  color: var(--tz-select-text);
  font-family: var(--tz-typography-300-regular-family);
  font-size: var(--tz-typography-300-regular-font-size);
  letter-spacing: var(--tz-typography-300-regular-letter-spacing);
  line-height: var(--tz-typography-300-regular-line-height);
  position: relative;
  z-index: var(--tz-layer-menu);
}

.tz-select-item {
  align-items: center;
  border-radius: 3px;
  color: var(--tz-color-text-2);
  display: flex;
  font-family: var(--tz-typography-300-regular-family);
  font-size: var(--tz-typography-300-regular-font-size);
  height: var(--tz-space-control-m);
  letter-spacing: var(--tz-typography-300-regular-letter-spacing);
  line-height: 1;
  padding: 0 var(--tz-space-200);
  position: relative;
  user-select: none;

  &[data-disabled] {
    opacity: 0.7;
    pointer-events: none;
  }

  &[data-highlighted] {
    background-color: var(--tz-color-base-lime-800);
    color: var(--tz-color-base-lime-200);
    outline: none;

    .tz-select-item-indicator {
      background-color: var(--tz-color-base-lime-800);
    }
  }
}

.tz-select-item-inner {
  --tz-select-icon-size: 1rem;

  display: grid;
  gap: var(--tz-space-200);
  grid-template-columns: var(--tz-select-icon-size) max-content;
}

.tz-select-item-icon {
  align-content: center;
  align-self: center;
  display: flex;
  opacity: 0.5;
}

.tz-select-item-label {
  display: block;
  white-space: nowrap;
}

.tz-select-item-indicator {
  align-items: center;
  background-color: var(--tz-color-bg-1);
  display: inline-flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: var(--tz-space-control-m);
}

.tz-select-options {
  background: var(--tz-color-bg-1);
  border-radius: var(--tz-radius-200);
  box-shadow: var(--tz-shadow-300);
  color: var(--tz-color-text-2);
  overflow: hidden;
  padding-bottom: var(--tz-space-200);
  padding-top: var(--tz-space-200);
  position: relative;
  z-index: var(--tz-layer-menu);
}

.tz-select-scroll-button {
  align-items: center;
  background-color: var(--tz-color-bg-1);
  color: var(--tz-color-text-3);
  cursor: default;
  display: flex;
  height: var(--tz-space-control-m);
  justify-content: center;
}

.tz-select-trigger {
  align-items: center;
  background-color: var(--tz-color-control-bg);
  border: none;
  border-radius: var(--tz-radius-300);
  color: var(--tz-color-text-1);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--tz-typography-300-regular-font-family);
  font-size: var(--tz-typography-300-regular-font-size);
  font-weight: var(--tz-typography-300-regular-font-weight);
  gap: var(--tz-space-200);
  height: var(--tz-space-control-m);
  justify-content: center;
  letter-spacing: var(--tz-typography-300-regular-letter-spacing);
  line-height: 1;
  outline: 1px solid transparent;
  padding: 0 var(--tz-space-200);

  &:hover,
  &:focus-visible {
    outline-color: var(--tz-color-base-lime-800);
  }
}

.tz-select-trigger-inner {
  align-items: center;
  display: inline-flex;
  gap: var(--tz-space-300);
  white-space: nowrap;
}
