.tz-kbd {
  align-items: center;
  background-color: var(--tz-color-bg-1);
  border-block-end-width: 2.5px;
  border-block-start-width: 1px;
  border-color: var(--tz-color-border-1);
  border-inline-width: 1px;
  border-radius: var(--tz-radius-200);
  border-style: solid;
  color: var(--tz-text-primary);
  cursor: default;
  display: inline-flex;
  font-family: var(--tz-font-mono);
  font-size: inherit;
  font-weight: var(--tz-font-body-font-weight);
  height: 1.5em;
  justify-content: center;
  letter-spacing: var(--tz-font-body-letter-spacing);
  line-height: inherit;
  padding: 0;
  user-select: none;
  width: 1.5em;
}
