.tz-tooltip-content {
  animation-duration: 400ms;
  background: var(--tz-color-content-bg-elevated);
  border: 1px solid var(--tz-color-content-border-elevated);
  border-radius: var(--tz-radius-2);
  box-shadow: var(--tz-shadow-300);
  color: var(--tz-text-secondary);
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-body-font-size);
  font-weight: var(--tz-font-body-font-weight);
  letter-spacing: var(--tz-font-body-letter-spacing);
  line-height: var(--tz-font-body-line-height);
  padding: var(--tz-space-300);
  user-select: none;
  will-change: transform, opacity;
  z-index: var(--tz-layer-popover);

  a {
    color: var(--tz-text-link-primary);
  }
}

.tz-tooltip-arrow {
  fill: var(--tz-color-content-bg-elevated);
}
