.header {
  align-items: center;
  border-bottom: var(--tz-border-3);
  display: flex;
  height: var(--main-nav-height);
  justify-content: space-between;
  user-select: none;
}

.title {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 800;
  gap: 0.375rem;
  line-height: 1;
  margin: 0;
  padding-inline-start: 0.375rem;
}

.logo {
  height: 1.25rem;
}

.actions {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}
