@use '../../tokens' as *;

html,
body {
  margin: 0;
  min-height: 100vh;
}

html {
  background-color: token('color.blue');
}

* {
  box-sizing: border-box;
}

body {
  background-color: token('color.white');
  color: token('color.black');
  font-family: 'Neue Montreal', -system-ui, 'Helvetica', sans-serif;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

h1 {
  font-size: token('font.size.08');
  font-weight: 550;
}

h2 {
  font-size: 32pt;
  font-weight: 500;
}

h3 {
  font-size: 28pt;
  font-weight: 575;
}

h4 {
  font-size: 1.5em;
  font-weight: 550;
}

h5,
h6 {
  font-size: 1.25em;
  font-weight: 550;
  margin-top: 0;
  margin-bottom: 2rem;
}

em,
i {
  font-variation-settings: 'ital' 900;
  font-style: normal;
}

a {
  color: token('color.blue');
}

p {
  margin: 1.5em 0;
  max-width: 50em;
}

menu {
  margin: 0;
  padding: 0;
}

fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  appearance: none;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
}

figure {
  margin: 0;
}

input {
  min-width: 0;
}

b,
strong {
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  text-decoration: inherit;
}

pre,
code {
  font-family: token('font.family.mono');
  font-size: token('font.size.03');
  line-height: 1.6;
}

a code {
  text-decoration: none;
}
