@use '../../tokens' as *;

html,
body {
  margin: 0;
  min-height: 100vh;
}

html {
  background-color: token('color.blue.05');
}

* {
  box-sizing: border-box;
}

body {
  background-color: token('color.white');
  color: token('color.black');
  font-family: 'Neue Montreal', -system-ui, 'Helvetica', sans-serif;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: token('space.layout.md');
  margin-bottom: token('space.layout.sm');

  &:first-child {
    margin-top: 0;
  }
}

h4,
h5,
h6 {
  margin-top: token('space.layout.sm');
}

h1 {
  font-size: token('font.size.08');
  font-weight: 600;
}

h2 {
  font-size: token('font.size.07');
  font-weight: 500;
}

h3 {
  font-size: token('font.size.06');
  font-weight: 575;
}

h4 {
  font-size: token('font.size.05');
  font-weight: 550;
}

h5,
h6 {
  font-size: token('font.size.04');
  font-weight: 550;
}

em,
i {
  font-variation-settings: 'ital' 900;
  font-style: normal;
}

a {
  color: token('color.blue.06');
}

p {
  line-height: 1.8;
  margin-bottom: token('space.md');
  margin-top: token('space.md');
  max-width: 48em;
}

menu {
  margin: 0;
  padding: 0;
}

fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  appearance: none;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
}

figure {
  margin: 0;
}

input {
  min-width: 0;
}

b,
strong {
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  text-decoration: inherit;
}

pre,
code {
  font-family: token('font.family.mono');
  font-size: token('font.size.03');
  font-variant: tabular-nums lining-nums;
}

a code {
  text-decoration: none;
}
