@use '../../tokens' as *;

html,
body {
  margin: 0;
  min-height: 100vh;
}

html {
  background-color: $color__Blue;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color__White;
  color: $color__Black;
  font-family: '#{$font__family__neue_montreal}', -system-ui, 'Helvetica', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 26pt;
  font-weight: 400;
}

h2 {
  font-size: 22pt;
  font-weight: 500;
}

h3 {
  font-size: 18pt;
  font-weight: 525;
}

h4 {
  font-size: 1.2em;
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 2rem;
}

em,
i {
  font-variation-settings: 'ital' 900; // needed for variable font
}

a {
  color: $color__Blue;
}

p {
  margin: 1.5em 0;
  max-width: 50em;
}

menu {
  margin: 0;
  padding: 0;
}

fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  appearance: none;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
}

figure {
  margin: 0;
}

input {
  min-width: 0;
}

b,
strong {
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  text-decoration: inherit;
}

pre,
code {
  font-family: 'SF Mono', 'Menlo', monospace;
  line-height: 1.5;
}
