@use '../../tokens' as *;

.btn {
  background-color: $color__White;
  border-radius: 0.5em;
  border: 3px solid $color__Blue;
  color: $color__Blue;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  outline: 2px solid rgba($color__White, 0);
  padding: 0.875em 1.125em;
  text-decoration: none;
  transition: outline 150ms linear;

  &:focus {
    outline: 2px solid $color__White;
  }

  &--icon {
    padding-right: 0.75em;

    svg {
      display: inline-block;
      height: 0.875em;
      margin-left: 0.375em;
      vertical-align: -6.25%;
      width: 0.875em;
    }
  }
}
