@use 'sass:map';
@use '../../tokens/' as *;

@font-face {
  font-family: $font__family__neue_montreal;
  font-weight: 1 999;
  src: url('https://drewhost.s3.amazonaws.com/PPNeueMontrealVariable.ttf') format('truetype');
}
