@use 'sass:color';
@use '../../tokens' as *;

.md-content {
  font-size: token('font.size.05');

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 4rem;
  }

  > h1:first-of-type {
    margin-bottom: token('space.layout.md');
  }

  h2 {
    margin-top: token('space.layout.lg');
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    line-height: 1.7;
    margin-bottom: token('space.layout.md');
    margin-top: token('space.layout.md');
    max-width: 50em;
  }

  ul,
  ol {
    line-height: 1.5;
    margin-bottom: token('space.layout.md');
    margin-top: token('space.layout.md');
    padding-left: 0;

    ul {
      margin: 0;
      padding-left: token('space.layout.md');
    }
  }

  li {
    margin-bottom: token('space.sm');
    margin-top: token('space.sm');

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  code {
    background: rgba(token('color.black'), 0.05);
    border-radius: 4px;
    display: inline-block;
    padding: token('space.2xs') token('space.sm');
    font-size: token('font.size.03');
  }

  figure {
    background: rgba(token('color.black'), 0.05);
    margin: 2.5rem 0;
    padding: 1.5rem;
  }

  figcaption {
    font-size: 0.75em;
    margin: 0;
    padding: 1.5rem 0 0;
  }

  pre {
    background: token('color.black');
    border-radius: token('space.3xs');
    color: token('color.white');
    font-size: token('font.size.03');
    margin: token('space.md') 0;
    max-width: 100%;
    overflow-x: scroll;
    padding: token('space.lg');
    width: 100%;

    code {
      background: none;
      font-size: inherit;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    font-size: token('font.size.03');
    width: 100%;
  }

  th,
  td {
    border-color: adjust-color($color: token('color.black'), $saturation: -50%, $lightness: 75%);
    border-style: solid;
    border-width: 1px 0 0 1px;
    padding: token('space.xs') token('space.md');

    &:last-of-type {
      border-right-width: 1px;
    }
  }

  th {
    font-weight: 600;
    padding: token('space.xs') token('space.md');
  }

  tr {
    &:nth-of-type(even) {
      background-color: adjust-color($color: token('color.black'), $saturation: -50%, $lightness: 86%);
    }

    &:last-of-type td {
      border-bottom-width: 1px;
    }
  }
}
