@use 'sass:color';
@use '../../tokens' as *;

// global
.language-js,
.language-scss,
.language-css,
.language-json {
  .comment {
    color: rgba(white, 0.5);
  }
  .function {
    color: token('color.code.gold');
  }
  .keyword {
    color: token('color.code.skyBlue');
  }
  .string {
    color: token('color.code.orange');
  }
  .punctuation,
  .operator {
    color: token('color.code.skyBlue');
  }
}

.language-diff {
  color: token('color.code.skyBlue');

  .deleted {
    color: token('color.code.red');
  }

  .inserted {
    color: token('color.code.green');
  }
}

.language-scss {
  .selector,
  .function,
  .string,
  .url {
    color: token('color.green');
  }
  .property,
  .punctuation {
    color: token('color.blue.05');
  }
}
