@use 'sass:color';
@use '../../tokens' as *;

.language-yaml,
.language-js,
.language-ts {
  .comment {
    color: color.scale($color: $color__blue, $lightness: 30%, $saturation: -50%);
  }
}

.language-diff {
  .deleted {
    color: color.scale($color: $color__red, $lightness: 25%);
  }

  .inserted {
    color: $color__green;
  }
}

.language-js {
  .keyword {
    color: color.scale($color: $color__blue, $lightness: 50%, $saturation: 100%);
  }
}

.language-yaml {
  .atrule {
    color: color.scale($color: $color__blue, $lightness: 50%, $saturation: 100%);
  }
}
