@use 'sass:color';
@use '../../tokens' as *;

.language-yaml,
.language-js,
.language-ts {
  .comment {
    color: color.scale($color: $color__Blue, $lightness: 30%, $saturation: -50%);
  }
}

.language-diff {
  .deleted {
    color: color.scale($color: $color__Red, $lightness: 25%);
  }

  .inserted {
    color: $color__Green;
  }
}

.language-js {
  .keyword {
    color: color.scale($color: $color__Blue, $lightness: 50%, $saturation: 100%);
  }
}

.language-json {
  .property {
    color: color.scale($color: $color__Blue, $lightness: 65%, $saturation: 100%);
  }
  .string {
    color: color.scale($color: $color__Green, $lightness: 65%, $saturation: 100%);
  }
}

.language-yaml {
  .atrule {
    color: color.scale($color: $color__Blue, $lightness: 50%, $saturation: 100%);
  }
}
