.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 65rem;
}

.tac { text-align: center; }
.tar { text-align: right; }

.yt-embed {
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
