html {
  height: 100%;
}

body {
  --grid-color: color-mix(in oklab, var(--tz-color-base-blue-600), transparent 62.5%);
  --grid-size: 2.5rem;

  background-color: var(--tz-color-bg-1);
  background-image: linear-gradient(
      to bottom,
      var(--grid-color),
      var(--grid-color) calc(1 / 16 * 1rem),
      transparent calc(1 / 16 * 1rem)
    ),
    linear-gradient(to right, var(--grid-color), var(--grid-color) calc(1 / 16 * 1rem), transparent calc(1 / 16 * 1rem));
  background-position: center calc(-1 / 16 * 1rem);
  background-repeat: repeat;
  background-size: var(--grid-size) var(--grid-size);
  color: var(--tz-color-text-1);
  font-family: var(--tz-font-sans);
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

@media (width >= 600px) {
  body {
    --grid-size: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid transparent;

  &:focus-visible {
    outline-color: color-mix(in oklab, var(--tz-color-base-lime-800), transparent 50%);
  }
}

:root {
  --global-gutter: 1rem;
}

::selection {
  background-color: var(--tz-color-base-lime-800);
  color: var(--tz-color-base-gray-100);
}

h1 {
  font-size: var(--tz-font-heading1-font-size);
  font-style: var(--tz-font-heading1-font-style);
  font-variation-settings: var(--tz-font-heading1-font-variation-settings);
  font-weight: var(--tz-font-heading1-font-weight);
  letter-spacing: var(--tz-font-heading1-letter-spacing);
  line-height: var(--tz-font-heading1-line-height);
}

h2 {
  font-size: var(--tz-font-heading2-font-size);
  font-style: var(--tz-font-heading2-font-style);
  font-variation-settings: var(--tz-font-heading2-font-variation-settings);
  font-weight: var(--tz-font-heading2-font-weight);
  letter-spacing: var(--tz-font-heading2-letter-spacing);
  line-height: var(--tz-font-heading2-line-height);
}

h3 {
  font-size: var(--tz-font-heading3-font-size);
  font-style: var(--tz-font-heading3-font-style);
  font-variation-settings: var(--tz-font-heading3-font-variation-settings);
  font-weight: var(--tz-font-heading3-font-weight);
  letter-spacing: var(--tz-font-heading3-letter-spacing);
  line-height: var(--tz-font-heading3-line-height);
}

h4 {
  font-size: var(--tz-font-heading4-font-size);
  font-style: var(--tz-font-heading4-font-style);
  font-variation-settings: var(--tz-font-heading4-font-variation-settings);
  font-weight: var(--tz-font-heading4-font-weight);
  letter-spacing: var(--tz-font-heading4-letter-spacing);
  line-height: var(--tz-font-heading4-line-height);
}

h5 {
  font-size: var(--tz-font-heading5-font-size);
  font-style: var(--tz-font-heading5-font-style);
  font-variation-settings: var(--tz-font-heading5-font-variation-settings);
  font-weight: var(--tz-font-heading5-font-weight);
  letter-spacing: var(--tz-font-heading5-letter-spacing);
  line-height: var(--tz-font-heading5-line-height);
}

h6 {
  font-size: var(--tz-font-heading6-font-size);
  font-style: var(--tz-font-heading6-font-style);
  font-variation-settings: var(--tz-font-heading6-font-variation-settings);
  font-weight: var(--tz-font-heading6-font-weight);
  letter-spacing: var(--tz-font-heading6-letter-spacing);
  line-height: var(--tz-font-heading6-line-height);
}

p,
li,
blockquote {
  font-size: var(--tz-font-body-font-size);
  font-style: var(--tz-font-body-font-style);
  letter-spacing: var(--tz-font-body-letter-spacing);
  line-height: var(--tz-font-body-line-height);
}

pre,
code {
  font-family: var(--tz-font-mono);
  font-size: var(--tz-font-label-small-font-size);
  font-style: var(--tz-font-label-small-font-style);
  font-variant-ligatures: none;
  line-height: var(--tz-font-label-small-line-height);
  text-decoration: var(--tz-font-label-small-text-decoration);
}

a {
  color: var(--tz-text-link-primary);
}

mark {
  background-color: var(--tz-nav-primary-selected-bg);
  color: var(--tz-nav-primary-selected-text);
}

b,
strong {
  font-variation-settings: "wght" 700;
  font-weight: 400;
}

.gh-user {
  align-items: center;
  border-radius: 4rem;
  display: inline-flex;
  font-variation-settings: var(--tz-font-body-strong-font-variation-settings);
  gap: 0.375em;
  vertical-align: -8.75%;
}

.gh-avatar {
  border-radius: 50%;
  height: 1em;
  width: 1em;
}
