html {
  height: 100%;
}

body {
  --grid-color: color-mix(
    in oklab,
    var(--tz-color-base-blue-600),
    transparent 62.5%
  );
  --grid-size: 2.5rem;

  background-color: var(--tz-color-bg-1);
  background-image: linear-gradient(
      to bottom,
      var(--grid-color),
      var(--grid-color) calc(1 / 16 * 1rem),
      transparent calc(1 / 16 * 1rem)
    ),
    linear-gradient(
      to right,
      var(--grid-color),
      var(--grid-color) calc(1 / 16 * 1rem),
      transparent calc(1 / 16 * 1rem)
    );
  background-position: center calc(-1 / 16 * 1rem);
  background-repeat: repeat;
  background-size: var(--grid-size) var(--grid-size);
  color: var(--tz-color-text-1);
  font-family: var(--tz-typography-family-sans);
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

@media (width >= 900px) {
  body {
    --grid-size: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid transparent;

  &:focus-visible {
    outline-color: color-mix(
      in oklab,
      var(--tz-color-base-lime-800),
      transparent 50%
    );
  }
}

:root {
  --global-gutter: 1rem;
}

::selection {
  background-color: var(--tz-color-base-lime-800);
  color: var(--tz-color-base-gray-100);
}

h1 {
  font-size: var(--tz-typography-700-bold-font-size);
  font-style: var(--tz-typography-700-bold-font-style);
  font-variation-settings: var(
    --tz-typography-700-bold-font-variation-settings
  );
  font-weight: var(--tz-typography-700-bold-font-weight);
  letter-spacing: var(--tz-typography-700-bold-letter-spacing);
  line-height: var(--tz-typography-700-bold-line-height);
}

h2 {
  font-size: var(--tz-typography-600-bold-font-size);
  font-style: var(--tz-typography-600-bold-font-style);
  font-variation-settings: var(
    --tz-typography-800-bold-font-variation-settings
  );
  font-weight: var(--tz-typography-600-bold-font-weight);
  letter-spacing: var(--tz-typography-600-bold-letter-spacing);
  line-height: var(--tz-typography-600-bold-line-height);
}

h3 {
  font-size: var(--tz-typography-500-medium-font-size);
  font-style: var(--tz-typography-500-medium-font-style);
  font-variation-settings: var(
    --tz-typography-500-medium-font-variation-settings
  );
  font-weight: var(--tz-typography-500-medium-font-weight);
  letter-spacing: var(--tz-typography-500-medium-letter-spacing);
  line-height: var(--tz-typography-500-medium-line-height);
}

h4 {
  font-size: var(--tz-typography-400-medium-font-size);
  font-style: var(--tz-typography-400-medium-font-style);
  font-variation-settings: var(
    --tz-typography-400-medium-font-variation-settings
  );
  font-weight: var(--tz-typography-400-medium-font-weight);
  letter-spacing: var(--tz-typography-400-medium-letter-spacing);
  line-height: var(--tz-typography-400-medium-line-height);
}

h5 {
  font-size: var(--tz-typography-300-medium-font-size);
  font-style: var(--tz-typography-300-medium-font-style);
  font-variation-settings: var(
    --tz-typography-300-medium-font-variation-settings
  );
  font-weight: var(--tz-typography-300-medium-font-weight);
  letter-spacing: var(--tz-typography-300-medium-letter-spacing);
  line-height: var(--tz-typography-300-medium-line-height);
}

h6 {
  font-size: var(--tz-typography-200-medium-font-size);
  font-style: var(--tz-typography-200-medium-font-style);
  font-variation-settings: var(
    --tz-typography-200-medium-font-variation-settings
  );
  font-weight: var(--tz-typography-200-medium-font-weight);
  letter-spacing: var(--tz-typography-200-medium-letter-spacing);
  line-height: var(--tz-typography-200-medium-line-height);
}

p,
li,
blockquote {
  font-size: var(--tz-typography-300-regular-font-size);
  font-style: var(--tz-typography-300-regular-font-style);
  letter-spacing: var(--tz-typography-300-regular-letter-spacing);
  line-height: var(--tz-typography-300-regular-line-height);
}

pre,
code {
  font-family: var(--tz-typography-family-mono);
  font-size: var(--tz-typography-100-regular-font-size);
  font-style: var(--tz-typography-100-regular-font-style);
  font-variant-ligatures: none;
  line-height: var(--tz-typography-100-regular-line-height);
  text-decoration: var(--tz-typography-100-regular-text-decoration);
}

a {
  color: var(--tz-text-link-primary);
}

mark {
  background-color: var(--tz-nav-primary-selected-bg);
  color: var(--tz-nav-primary-selected-text);
}

b,
strong {
  font-variation-settings: "wght" 700;
  font-weight: 400;
}

.gh-user {
  align-items: center;
  border-radius: 4rem;
  display: inline-flex;
  font-weight: var(--tz-typography-300-medium-font-weight);
  gap: 0.375em;
  vertical-align: -8.75%;
}

.gh-avatar {
  border-radius: 50%;
  height: 1em;
  width: 1em;
}
