.md-content {
  > * {
    margin-block: 2em;
    order: 99;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --icon-size: 0.875em;
    --padding: 2em;

    cursor: pointer;
    font-family: var(--tz-typography-family-sans);
    letter-spacing: -0.03125em;
    margin-block-end: 0;
    margin-block-start: 2em;
    position: relative;

    a {
      display: flex;
      height: var(--icon-size);
      justify-content: flex-start;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity var(--tz-timing-default) var(--tz-ease-linear);
      width: 100%;

      &:hover {
        background: none;
      }
    }

    &:hover a {
      opacity: 1;
    }

    .icon {
      background-image: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="color(srgb 0 0 0 / 0.25)" xmlns="http://www.w3.org/2000/svg"><path d="M8.51194 3.00541C9.18829 2.54594 10.0435 2.53694 10.6788 2.95419C10.8231 3.04893 10.9771 3.1993 11.389 3.61119C11.8009 4.02307 11.9513 4.17714 12.046 4.32141C12.4633 4.95675 12.4543 5.81192 11.9948 6.48827C11.8899 6.64264 11.7276 6.80811 11.3006 7.23511L10.6819 7.85383C10.4867 8.04909 10.4867 8.36567 10.6819 8.56093C10.8772 8.7562 11.1938 8.7562 11.389 8.56093L12.0077 7.94221L12.0507 7.89929C12.4203 7.52976 12.6568 7.2933 12.822 7.0502C13.4972 6.05623 13.5321 4.76252 12.8819 3.77248C12.7233 3.53102 12.4922 3.30001 12.1408 2.94871L12.0961 2.90408L12.0515 2.85942C11.7002 2.508 11.4692 2.27689 11.2277 2.11832C10.2377 1.46813 8.94398 1.50299 7.95001 2.17822C7.70691 2.34336 7.47044 2.57991 7.1009 2.94955L7.058 2.99247L6.43928 3.61119C6.24401 3.80645 6.24401 4.12303 6.43928 4.31829C6.63454 4.51355 6.95112 4.51355 7.14638 4.31829L7.7651 3.69957C8.1921 3.27257 8.35757 3.11027 8.51194 3.00541ZM4.31796 7.14672C4.51322 6.95146 4.51322 6.63487 4.31796 6.43961C4.12269 6.24435 3.80611 6.24435 3.61085 6.43961L2.99213 7.05833L2.94922 7.10124C2.57957 7.47077 2.34303 7.70724 2.17788 7.95035C1.50265 8.94432 1.4678 10.238 2.11799 11.2281C2.27656 11.4695 2.50766 11.7005 2.8591 12.0518L2.90374 12.0965L2.94837 12.1411C3.29967 12.4925 3.53068 12.7237 3.77214 12.8822C4.76219 13.5324 6.05589 13.4976 7.04986 12.8223C7.29296 12.6572 7.52943 12.4206 7.89896 12.051L7.89897 12.051L7.94188 12.0081L8.5606 11.3894C8.75586 11.1941 8.75586 10.8775 8.5606 10.6823C8.36533 10.487 8.04875 10.487 7.85349 10.6823L7.23477 11.301C6.80777 11.728 6.6423 11.8903 6.48794 11.9951C5.81158 12.4546 4.95642 12.4636 4.32107 12.0464C4.17681 11.9516 4.02274 11.8012 3.61085 11.3894C3.19896 10.9775 3.0486 10.8234 2.95385 10.6791C2.53661 10.0438 2.54561 9.18863 3.00507 8.51227C3.10993 8.35791 3.27224 8.19244 3.69924 7.76544L4.31796 7.14672ZM9.62172 6.08558C9.81698 5.89032 9.81698 5.57373 9.62172 5.37847C9.42646 5.18321 9.10988 5.18321 8.91461 5.37847L5.37908 8.91401C5.18382 9.10927 5.18382 9.42585 5.37908 9.62111C5.57434 9.81637 5.89092 9.81637 6.08619 9.62111L9.62172 6.08558Z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      height: var(--icon-size);
      transform: translate3d(calc(-100% - var(--tz-space-200)), 0, 0);
      width: var(--icon-size);
    }

    &:first-child {
      margin-block-start: 0;
      padding-block-start: var(--tz-space-600);
    }
  }

  a {
    &:hover,
    &:focus-visible {
      background-color: var(--tz-color-base-lime-800);
    }
  }

  li {
    font-size: var(--tz-typography-300-regular-font-size);
    letter-spacing: var(--tz-typography-300-regular-letter-spacing);
    line-height: var(--tz-typography-300-regular-line-height);
    margin-block: var(--tz-space-400);
    padding-inline-start: var(--tz-space-200);

    @media (width >= 1600px) {
      font-size: var(--tz-typography-400-regular-font-size);
      letter-spacing: var(--tz-typography-400-regular-letter-spacing);
      line-height: var(--tz-typography-400-regular-line-height);
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  ol,
  ul {
    padding-inline-start: var(--tz-space-400);
  }

  strong,
  b {
    font-variation-settings: var(--tz-typography-300-bold-font-variation-settings);
    font-weight: var(--tz-typography-300-bold-font-weight);
  }

  p > code,
  li > code,
  li > p > code,
  td > code {
    background-color: var(--tz-color-bg-2);
    border: 1px solid var(--tz-color-border-3);
    border-radius: var(--tz-radius-200);
    display: inline-block;
    font-size: 0.875em;
    margin-inline: 0.125em;
    padding: 0.125em;
  }

  figure {
    background-color: var(--tz-color-bg-1);
    border: var(--tz-border-3);
    border-radius: var(--tz-radius-400);
    margin-inline: 0;
    padding: var(--tz-space-400);

    img {
      margin-inline: auto;
    }
  }

  figcaption,
  figcaption p {
    font-size: var(--tz-typography-200-regular-font-size);
    letter-spacing: var(--tz-typography-200-regular-letter-spacing);
    line-height: var(--tz-typography-200-regular-line-height);
    margin-top: var(--tz-space-200);
    opacity: 0.75;
    text-align: center;
  }

  figcaption p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  p {
    font-size: var(--tz-typography-300-regular-font-size);
    letter-spacing: var(--tz-typography-300-regular-letter-spacing);
    line-height: 1.75;

    @media (width >= 1600px) {
      font-size: var(--tz-typography-400-regular-font-size);
      letter-spacing: var(--tz-typography-400-regular-letter-spacing);
    }
  }

  > details > summary {
    align-items: center;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: flex;
    font-variation-settings: var(--tz-typography-300-medium-font-variation-settings);
    font-weight: var(--tz-typography-300-medium-font-weight);
    min-height: var(--tz-space-800);
    position: relative;

    &:hover {
      background-color: var(--tz-color-bg-2);
    }

    &::after {
      background-image: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="rgb(177, 177, 177)" xmlns="http://www.w3.org/2000/svg"><path d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      content: "";
      display: flex;
      height: 100%;
      position: absolute;
      right: 0;
      width: var(--tz-space-800);
    }

    &::marker,
    &::-webkit-details-marker {
      width: 1rem;
    }
  }

  pre {
    overflow-x: auto;
  }

  details[open] summary {
    border-bottom-color: var(--tz-color-border-2);

    &::after {
      transform: rotate(0.5turn);
    }
  }

  table {
    border-collapse: collapse;
  }

  th {
    border-bottom: var(--tz-border-2);
    font-variation-settings: var(--tz-typography-200-medium-font-variation-settings);
    font-weight: var(--tz-typography-200-medium-font-weight);
  }

  th,
  td {
    border: var(--tz-border-2);
    font-size: var(--tz-typography-200-regular-font-size);
    letter-spacing: var(--tz-typography-200-regular-letter-spacing);
    line-height: var(--tz-typography-200-regular-line-height);
    padding: var(--tz-space-300);
  }

  kbd {
    border: var(--tz-border-3);
    border-radius: var(--tz-radius-300);
    display: inline-block;
    line-height: 1;
    padding-block: 0.125em;
    padding-inline: 0.37 5em;
  }

  tr:nth-of-type(even) td {
    background-color: var(--tz-color-bg-2);
  }
}

.callout {
  --padding: var(--tz-space-400);

  background-color: var(--tz-color-bg-2);
  color: var(--tz-text-secondary);
  margin-left: calc(-1 * var(--padding));
  padding: var(--padding);
  width: calc(100% + 2 * var(--padding));

  @media (width >= 600px) {
    --padding: var(--tz-space-600);
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.callout--info,
.callout--tip,
.callout--note {
  background-color: color-mix(in oklab, var(--tz-color-base-blue-600), transparent 80%);

  .callout-indicator {
    color: var(--tz-color-base-blue-300);
  }
}

.callout--caution,
.callout--warning {
  background-color: color-mix(in oklab, var(--tz-color-base-orange-600), transparent 80%);

  .callout-indicator {
    color: var(--tz-color-base-orange-300);
  }
}

.callout-indicator {
  align-items: center;
  display: flex;
  font-family: var(--tz-typography-200-bold-font-family);
  font-size: var(--tz-typography-200-bold-font-size);
  font-variation-settings: var(--tz-typography-200-bold-font-variation-settings);
  font-weight: var(--tz-typography-200-bold-font-weight);
  gap: var(--tz-space-200);
  letter-spacing: var(--tz-typography-200-bold-letter-spacing);
  line-height: var(--tz-typography-200-bold-line-height);
  margin-bottom: var(--tz-space-200);
  text-transform: capitalize;
}

.astro-code {
  --code-bg: #17191e;
  --code-padding: var(--tz-space-400);

  line-height: 1.5;
  margin: 0;
  min-height: calc(var(--tz-space-control-m) + 2 * var(--code-padding));
  overflow-x: auto;
  padding: var(--code-padding);

  code {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

.code-group {
  --code-bg: #141414;
  --code-padding: var(--tz-space-400);
}

.code-group-tab {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 3px 0;
  color: color(srgb 0.9 0.9 0.9);
  cursor: pointer;
  font-family: var(--tz-typography-200-regular-font-family);
  font-size: var(--tz-typography-200-regular-font-size);
  font-variation-settings: var(--tz-typography-200-regular-font-variation-settings);
  font-weight: var(--tz-typography-200-regular-font-weight);
  height: var(--tz-space-control-m);
  letter-spacing: var(--tz-typography-200-regular-letter-spacing);
  line-height: var(--tz-space-control-m);
  outline: 2px solid transparent;
  padding: 0 var(--code-padding);
  position: relative;
  z-index: var(--tz-layer-base);

  &[aria-selected="true"] {
    background-color: var(--code-bg);
    border-top-color: var(--tz-color-base-orange-600);
  }

  &:focus-visible {
    outline-color: var(--tz-color-base-orange-600);
  }
}

.code-group-tabs {
  background-color: color-mix(in oklab, var(--code-bg), white 10%);
  display: flex;
  margin: 0;
}

.code-block-wrapper {
  position: relative;
}

.md-content > .code-block-wrapper {
  &[data-language="sh"],
  &[data-language="bash"] {
    --chrome-border-color: var(--tz-color-border-2);
    --chrome-height: var(--tz-space-600);

    margin-top: calc(var(--tz-space-600) + var(--chrome-height));

    &::before {
      background-color: #141414; /* same as theme */
      border-bottom: 1px solid var(--chrome-border-color);
      border-top-left-radius: var(--tz-radius-500);
      border-top-right-radius: var(--tz-radius-500);
      bottom: 100%;
      content: "";
      display: block;
      height: var(--tz-space-600);
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::after {
      --chrome-button-size: calc(0.375 * var(--chrome-height));
      --chrome-button-gap: calc(0.5 * var(--chrome-button-size));
      --y: calc(0.5 * var(--chrome-button-size));
      --x1: calc(0.5 * var(--chrome-button-size));
      --x2: calc(var(--x1) + var(--chrome-button-size) + var(--chrome-button-gap));
      --x3: calc(var(--x2) + var(--chrome-button-size) + var(--chrome-button-gap));

      background-image: radial-gradient(
          circle at var(--x1) var(--y),
          transparent 0,
          transparent calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size)),
          transparent calc(0.5 * var(--chrome-button-size))
        ),
        radial-gradient(
          circle at var(--x2) var(--y),
          transparent 0,
          transparent calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size)),
          transparent calc(0.5 * var(--chrome-button-size))
        ),
        radial-gradient(
          circle at var(--x3) var(--y),
          transparent 0,
          transparent calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size) - 1px),
          var(--chrome-border-color) calc(0.5 * var(--chrome-button-size)),
          transparent calc(0.5 * var(--chrome-button-size))
        );
      bottom: calc(100%);
      content: "";
      height: var(--chrome-button-size);
      left: var(--tz-space-400);
      position: absolute;
      transform: translateY(-87.5%);
      width: calc(3 * var(--chrome-button-size) + 2 * var(--chrome-button-gap));
    }
  }
}

.code-block-copy-btn {
  align-items: center;
  background: transparent;
  border: 1px solid color(srgb 1 1 1 / 0.2);
  border-radius: var(--tz-radius-300);
  color: color(srgb 1 1 1 / 0.75);
  cursor: pointer;
  display: inline-flex;
  height: var(--tz-space-control-m);
  justify-content: center;
  position: absolute;
  right: var(--tz-space-400);
  top: var(--tz-space-400);
  transition: background-color var(--tz-timing-default) var(--tz-ease-linear), color var(--tz-timing-default)
    var(--tz-ease-linear);
  width: var(--tz-space-control-m);
  z-index: var(--tz-layer-base);

  &:hover {
    background: color(srgb 1 1 1 / 0.1);
    color: color(srgb 1 1 1 / 0.85);
  }
}

.toc {
  background: var(--tz-color-bg-1);
  font-family: var(--tz-typography-200-regular-font-family);
  font-size: var(--tz-typography-200-regular-font-size);
  height: min-content;
  letter-spacing: var(--tz-typography-200-regular-letter-spacing);
  line-height: var(--tz-typography-200-regular-line-height);
  margin: 0;
  order: 1;

  @media (width >= 1200px) {
    border: 1px solid var(--grid-color);
    bottom: calc(-1 * var(--tz-space-500));
    overflow-y: auto;
    padding: calc(0.5 * var(--grid-size));
    position: fixed;
    right: var(--tz-space-400);
    top: 0;
    width: 14rem;
  }

  h4#contents {
    margin-bottom: var(--tz-space-300);

    @media (width >= 1200px) {
      padding-top: var(--grid-size);
    }
  }

  li {
    font-family: var(--tz-typography-200-regular-font-family);
    font-size: var(--tz-typography-200-regular-font-size);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol {
    margin: 0;
    padding: 0;

    ol {
      @media (width >= 1200px) {
        display: none;

        &:has(a[aria-current]) {
          display: block;
        }
      }
    }

    a[aria-current] ~ ol {
      display: block;
    }

    ol a {
      font-size: var(--tz-typography-100-regular-font-size);
    }
  }

  a {
    border-left: var(--tz-border-3);
    color: var(--tz-color-text-3);
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding: var(--tz-space-100) var(--tz-space-300);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
      background-color: transparent;
      color: var(--tz-color-text-1);
    }

    @media (width >= 1200px) {
      &[aria-current] {
        border-color: var(--tz-color-border-selected);
        color: var(--tz-color-text-selected);
      }
    }
  }

  svg {
    height: auto;
    width: 100%;
  }
}

.yt-embed {
  height: 0;
  padding-top: 56.25%;
  position: relative;

  iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
