---
import Cobalt from '../components/Cobalt.astro';
import DocsNav from '../components/DocsNav.astro';
import DocsPagination from '../components/DocsPagination.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import SkipToMain from '../components/SkipToMain.astro'
---

<!DOCTYPE html>
<html>
  <head>
    <Head title="Cobalt" />
    <style lang="scss">
      @use "../../tokens" as *;

      .header {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 4rem 0 6rem;
      }

      section + section {
        margin-top: 4rem;
      }

      p {
        font-size: 16pt;
        line-height: 1.7;
      }

      figure {
        margin: 0;
      }

      .split {
        display: grid;
        grid-template-columns: 6fr 7fr;
        grid-gap: 4rem;

        p:first-of-type {
          margin-top: 0;
        }
      }

      .visual {
        align-self: start;
        background-color: $color__blue;
        border-radius: 3rem;
        color: $color__white;
        font-size: 18pt;
        font-weight: 500;
        position: relative;
        padding: 3rem;

        &-base {
          height: 0;
          padding-top: 41%;
          position: relative;
        }

        &-layer {
          border-bottom: 1px dashed $color__white;
          margin-bottom: 2rem;
          padding-bottom: 2rem;
        }

        &-cobalt,
        &-tokens {
          transform: translateY(-50%);
          position: absolute;
        }

        &-cobalt {
          top: 50%;
        }

        &-tokens {
          top: 78%;
        }

        &-line-c,
        &-line-t {
          border-top: 1px dashed currentColor;
          display: block;
          left: 6.5rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc(33.5% - 6.5rem);
        }

        &-line-t {
          border-top: 3px solid currentColor;
          top: 78%;
          width: calc(45% - 6.5rem);
        }

        &-img {
          bottom: 0;
          height: auto;
          position: absolute;
          right: 0;
          width: 67.5%;
        }
      }

      .actions-title {
        margin-bottom: 0;
      }

      .actions {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
        position: relative;

        &::after {
          border-right: 1px dashed $color__white;
          content: "";
          display: block;
          height: calc(100% - 2.5rem);
          left: 0.5rem;
          position: absolute;
          top: 1rem;
        }

        a {
          margin-top: 1em;
          position: relative;

          &::before {
            border-top: 1px dashed $color__white;
            content: "";
            display: block;
            position: absolute;
            right: calc(100% + 4px);
            top: 50%;
            transform: translateY(-50%);
            width: 1.75rem;
          }
        }
      }

      .docs {
        display: grid;
        grid-template-columns: min-content auto;
        padding-right: 8rem;
      }

      #main {
        margin-top: -2.5rem;
      }
    </style>
  </head>
  <body>
    <SkipToMain />
    <Nav />
    <div class="docs">
      <DocsNav />
      <div>
        <header class="header tac">
          <Cobalt />
          <h1 class="title">Automated design tokens</h1>
        </header>
        <main class="wrapper" id="#main">
          <section>
            <h2>What is Cobalt?</h2>
            <p>
              <strong>Cobalt is not a design system.</strong> Cobalt has no
              out-of-the-box colors, typography, or symbology. All that is for you
              to define.
            </p>
            <p>
              <strong>Cobalt is token management.</strong> It lets you organize
              and categorize your tokens in a way that makes sense to you. It
              starts with <a href="/docs/schema">tokens.yaml</a>, a standard
              format for storage.  From your custom design tokens schema you can
              use plugins to generate code from your design tokens, from
              CSS/Sass to TypeScript/JavaScript to univeral JSON for backend
              code and APIs.
            </p>
            <div class="split">
              <div>
                <p>
                  Thinking about your product design in “layers,” Cobalt sits
                  below your design system, and beneath your UI. You still control
                  your tokens; Cobalt only provides “buckets“ to put them in.
                </p>
                <p>
                  In return you don’t have to build or manage custom software for
                  your design tokens like so many teams often do. And you still have
                  the flexibility to craft your design system in any way you’d like.
                  Cobalt just bridges the gap between your tokens, and your design
                  system/UI.
                </p>
              </div>
              <figure class="visual">
                <div class="visual-layers">
                  <div class="visual-layer">UI</div>
                  <div class="visual-layer">Platform</div>
                  <div class="visual-layer">Design System</div>
                  <div class="visual-base">
                    <span class="visual-cobalt">Cobalt</span>
                    <span class="visual-tokens">Tokens</span>
                    <div class="visual-line-c"></div>
                    <div class="visual-line-t"></div>
                    <img class="visual-img" src="/token-hex.svg">
                  </div>
                </div>
              </figure>
            </div>
          </section>
          <DocsPagination />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
