---
import DefaultLayout from '../layouts/default.astro';
import Tri from '../components/tri.astro';
import IlloHome from '../components/illo/home.astro';
import MainFooter from '../components/main-footer.astro';
import { ButtonLink } from '@terrazzo/tiles';
---

<DefaultLayout>
  <main>
    <div class="illo"><IlloHome /></div>
    <section class="card w11 h3 m3">
      <h1 class="title">Design systems <small>for everyone</small></h1>
      <Tri style="bottom: 0; right: 0; transform: rotate(180deg);" />
    </section>
    <section class="card w15 h3 m2">
      <h3 class="subheading">Used by</h3>
      <p class="logos">
        <svg
          class="logo"
          fill="none"
          height="28"
          viewBox="0 0 80 28"
          width="80"
          role="img"
          aria-label="Figma"
          xmlns="http://www.w3.org/2000/svg"
          ><g fill="var(--tz-color-text-1)"
            ><path
              d="m0 .0016v21.8512l2.8824.008v-10.4048h6.9496v-2.752h-6.9496v-5.9536h9.0512v-2.7504zm17.1208 4.4352c1.0384 0 1.88-.8208 1.88-1.8336s-.8408-1.8336-1.88-1.8336c-1.0376 0-1.88.8208-1.88 1.8336s.8424 1.8336 1.88 1.8336zm-1.4656 2.7512v14.668h2.8824v-14.668z"
            ></path><path
              clip-rule="evenodd"
              d="m29.228 6.75995c-3.828 0-6.4992 3.1576-6.4992 6.90635 0 3.7496 2.672 6.9072 6.4992 6.9072 1.752 0 3.196-.6616 4.248-1.7392v1.9528c0 2.4305-1.9576 4.4624-4.512 4.4624-.9184 0-1.8304-.3472-2.5576-.836l-1.444 2.44c1.1989.7523 2.5863 1.1498 4.0016 1.1464 4.0832 0 7.3936-3.2288 7.3936-7.2128v-13.59995h-2.8824v1.312c-1.0512-1.0776-2.4944-1.7392-4.2472-1.7392zm-3.6168 6.90635c0-2.3272 1.824-4.15595 3.9288-4.15595s3.9304 1.82875 3.9304 4.15595-1.8256 4.1568-3.9304 4.1568c-2.104 0-3.9288-1.8296-3.9288-4.1568z"
              fill-rule="evenodd"></path><path
              d="m46.744 9.51035c-1.7048 0-3.0864 1.40875-3.0864 3.07195v9.2736h-2.8824v-14.66795h2.8824v1.344c.844-1.0656 2.088-1.772 3.712-1.772 2.02 0 3.5704.9784 4.468 2.476.9984-1.4464 2.6272-2.476 4.5864-2.476 3.2808 0 5.3224 2.5816 5.3424 5.77595v9.32h-2.8824v-9.2744c0-1.6624-1.3816-3.07195-3.0864-3.07195-1.704 0-3.0856 1.40955-3.0856 3.07195v9.2752h-2.8824v-9.2752c0-1.6624-1.3816-3.07195-3.0864-3.07195"
            ></path><path
              clip-rule="evenodd"
              d="m77.1176 8.85035c-1.2824-1.2904-3.0376-2.0904-5.0752-2.0904-4.288 0-7.3312 3.54155-7.3312 7.76235s3.0432 7.7624 7.3312 7.7624c2.0368 0 3.7928-.7992 5.0752-2.0904v1.6624h2.8824v-14.66875h-2.8824zm-9.524 5.67195c0-2.8 2.1984-5.01195 4.7616-5.01195 2.564 0 4.7624 2.21195 4.7624 5.01195s-2.1984 5.012-4.7624 5.012-4.7616-2.2112-4.7616-5.012z"
              fill-rule="evenodd"></path></g
          ></svg
        >
        <svg
          class="logo"
          fill="none"
          height="32"
          viewBox="0 0 102 32"
          width="102"
          aria-label="The Guardian"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          ><clipPath id="guardian-a"
            ><path d="m.600098 0h101.067v32h-101.067z"></path></clipPath
          ><g clip-path="url(#guardian-a)" fill="var(--tz-color-text-1)"
            ><path
              d="m22.9082 17.2279 1.7247-.8998v-13.4974h-1.2935l-3.1869 4.21792h-.3374l.1875-4.68658h13.7785l.1875 4.68658h-.3749l-3.1119-4.23667h-1.331v13.49735l1.7246.8998v.4687h-7.9672zm12.9913-.5999v-14.94083l-1.331-.56239v-.262448l4.8178-.862332h.5061v7.06737l.1312-.11248c1.0686-.93732 2.6058-1.51845 4.1242-1.51845 2.1184 0 3.0557 1.18102 3.0557 3.41183v7.77973l1.1248.6186v.4499h-6.2988v-.4499l1.1248-.6186v-7.81722c0-1.21851-.5249-1.70592-1.5185-1.70592-.6111-.01499-1.2072.18372-1.6871.56239v8.99825l1.1247.5999v.4311h-6.2987v-.4499l1.1248-.6373zm16.3468-5.1552 3.5618-.225c0-3.05565-.5062-5.099-1.556-5.099-1.1248 0-2.0058 2.36204-2.0058 5.324zm.0749.5623c.1313 2.4746 1.2373 4.3867 3.8618 4.3867 1.256 0 2.1558-.5811 2.9994-1.0311v.4874c-1.1341 1.3854-2.8401 2.1784-4.6303 2.1559-4.068 0-6.1301-2.2496-6.1301-6.1863 0-3.82427 2.2496-6.18631 5.9426-6.18631 3.4493 0 5.249 1.70592 5.249 6.26131v.1124h-7.3111zm-51.721102 11.6228c0-6.505 4.311662-8.8108 9.110722-8.8108 1.70588-.045 3.40618.2081 5.02398.7499l.0938 4.5553h-.4499l-2.812-4.4054c-.5718-.2268-1.1866-.3224-1.79964-.2812-2.5495 0-3.843 2.9432-3.80551 7.7798.05624 5.7738 1.0498 8.3983 3.37434 8.3983.61863 0 1.08731-.0937 1.42471-.2249v-6.1863l-1.55593-.8999v-.5061h7.47983v.5624l-1.5185.8436v6.0738c-1.8109.6486-3.7193.9767-5.64265.9748-5.45518.0187-8.923252-2.512-8.923252-8.6233zm16.009402-3.0369v-.375l5.024-.881.5624.0375v9.898c0 1.1998.5624 1.556 1.5184 1.556.6299.0131 1.2298-.2644 1.631-.7499v-8.8857l-1.3685-.5999v-.375l5.0053-.8998.5061.0375v11.3603l1.3685.5624v.3749l-4.9678.5999-.5061-.0375v-1.4997h-.1313c-1.0029.9861-2.3433 1.5541-3.7492 1.5934-2.4371 0-3.5243-1.4247-3.5243-3.5805v-7.5173l-1.3685-.5999zm32.1125-1.2748.4124.0375v3.6555h.1124c.5437-2.6807 1.7247-3.6742 3.1682-3.6742.2249 0 .4686 0 .6186.0937v3.7493c-1.2672-.2362-2.5757-.0806-3.7493.4499v7.2361l1.1248.6373v.4687h-6.505v-.4687l1.1623-.6373v-9.8981l-1.3685-.4124v-.3375l5.0241-.9373z"
            ></path><path
              d="m61.3195 30.2753v-9.9355c-.3187-.1875-.5624-.4499-1.3872-.4124-1.3498.0375-2.1934 2.0808-2.1934 5.7363 0 3.2806.5999 5.1178 2.4183 5.0615.4274-.0093.8399-.1687 1.1623-.4499zm0-10.6291v-3.8618l-1.3685-.4874v-.2999l5.0615-.9373.4874.0749v16.5905l1.406.5062v.4312l-5.0053.6748-.3749-.0562v-1.3497h-.1312c-.7499.7498-1.7434 1.4059-3.3181 1.4059-2.737 0-4.7241-2.0808-4.7241-6.355 0-4.4991 2.3058-6.7112 5.8114-6.7112 1.0123 0 1.7809.1875 2.1558.3937m11.604-3.4493c0 1.2185-1.0311 2.1371-2.2121 2.1371-1.2373 0-2.2121-.9374-2.2121-2.1371 0-1.2185.9748-2.1558 2.2121-2.1558 1.181 0 2.2121.9373 2.2121 2.1558zm-.4499 3.1119.4311.0375v11.529l1.1436.6373v.4687h-6.505v-.4687l1.1622-.6373v-9.7106l-1.3872-.5624v-.375l5.1553-.9373zm16.1593 11.5665v-9.8044l-1.3872-.4874v-.4686l5.0052-.9373.5062.0562v1.4622h.1312c1.1904-1.0217 2.7051-1.5878 4.2742-1.5934 2.1746 0 3.1305 1.031 3.1305 3.3368v8.4171l1.181.6561v.4687h-6.5236v-.4687l1.181-.6373v-8.2109c0-1.256-.5623-1.7622-1.5934-1.7622-.6186-.0131-1.226.1781-1.7247.5437v9.4294l1.1623.6373v.4687h-6.5237v-.4687zm-7.2361-.6187v-4.9677l-.8248.0749c-1.3123.1125-1.7809.9374-1.7809 2.812 0 1.9871.6561 2.512 1.5747 2.512.5249 0 .8061-.1687 1.031-.4312zm0-5.5489v-1.6497c0-2.4745-.5436-3.2806-2.0621-3.2806l-.5249.0375-2.7182 3.6931h-.3749v-3.3931c1.1623-.375 2.6245-.7874 4.5553-.7874 3.3369 0 5.2678.9373 5.2678 3.7118v8.0234l1.1997.3187v.3187c-.7555.3806-1.5915.5736-2.437.5624-1.6684 0-2.437-.5624-2.812-1.4435h-.1124c-.6936.9373-1.6872 1.4997-3.2431 1.4997-1.9872 0-3.3369-1.256-3.3369-3.3931 0-2.0621 1.2935-3.1868 3.8992-3.693zm-43.529 5.5489v-4.9677l-.8248.0749c-1.3123.1125-1.7809.9374-1.7809 2.812 0 1.9871.6561 2.512 1.5747 2.512.5061 0 .8061-.1687 1.031-.4312zm0-5.5489v-1.6497c0-2.4745-.5436-3.2806-2.0621-3.2806l-.5249.0375-2.7182 3.6931h-.3749v-3.3931c1.1623-.375 2.6245-.7874 4.5553-.7874 3.3369 0 5.2678.9373 5.2678 3.7118v8.0234l1.1997.3187v.3187c-.7611.3843-1.6028.5774-2.4557.5624-1.6497 0-2.4371-.5624-2.812-1.4435h-.0937c-.6936.9373-1.6872 1.4997-3.2431 1.4997-1.9872 0-3.3369-1.256-3.3369-3.3931 0-2.0621 1.2935-3.1868 3.8992-3.693z"
            ></path></g
          ></svg
        >
        <svg
          class="logo"
          fill="none"
          height="48"
          viewBox="0 0 48 48"
          width="48"
          aria-label="Lego"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m.326111.320984v47.358916h47.359189l-.0003-47.358916z"
            fill="var(--tz-color-bg-1)"></path><g
            clip-rule="evenodd"
            fill-rule="evenodd"
            ><path
              d="m.326111 47.6799v-47.358916h47.358689l.0002 47.358916zm43.542089-19.6645c.619-1.2757 1.7835-4.4685 1.9987-6.1925l.0024-.019c.2624-2.1045.5107-4.096-.9093-6.0749-1.0096-1.4064-2.7299-2.3501-5.3472-2.3504-1.9784 0-3.7454.536-5.1582 1.7109-1.2098-1.1973-2.945-1.7408-5.2805-1.7402-1.8275 0-3.3613.4178-4.6971 1.2197-.9696-.7704-2.1077-1.2517-3.921-1.2517-1.6438-.0003-3.9515.0853-5.6926 1.5634-.4024-.821-1.2205-1.4658-3.4773-1.4658-2.07892 0-3.77492.9834-4.88719 2.8093-1.48507 2.372-4.63733 9.2219-4.5568 12.9637.06 2.8168 2.17227 4.7574 5.232 4.8302 1.83867.0429 3.40449-.3507 4.59949-1.1438 1.0805.7787 2.4613 1.1992 3.9957 1.1992 1.8363.0003 3.4928-.4818 4.7211-1.3474 1.1128.8821 2.5728 1.3589 4.2245 1.3589 2.1429.0008 4.1341-.7392 5.7427-2.1469 1.097 1.3989 2.9765 2.1261 5.2589 2.1263 4.2728.0003 6.4923-2.6277 8.1517-6.049z"
              fill="var(--tz-color-text-1)"></path><path
              d="m0 48v-48h48l-.0008 47.9992zm47.3387-.6611.0005-46.6781h-46.678933l.001066 46.6779z"
              fill="var(--tz-color-text-1)"></path><path
              d="m44.6974 14.4802c-.0003-.151.0292-.3006.0868-.4402.0577-.1396.1423-.2665.249-.3733.1068-.1068.2335-.1916.3731-.2493.1395-.0578.2891-.0875.4401-.0873.1512-.0003.3009.0293.4406.0869.1397.0577.2666.1424.3735.2493.1069.1068.1917.2337.2494.3734.0578.1397.0874.2894.0872.4405.0003.1512-.0293.3009-.087.4406-.0578.1397-.1425.2666-.2495.3734-.1069.1068-.2338.1915-.3736.2492-.1397.0576-.2894.0871-.4406.0867-.151.0002-.3006-.0294-.4402-.0871s-.2664-.1424-.3731-.2492c-.1068-.1068-.1914-.2337-.249-.3733s-.0871-.2893-.0867-.4403zm1.1496-.9219c.5114.0003.9272.412.9258.9235.0014.5115-.416.9245-.9258.9245-.1212-.0001-.2412-.0242-.3531-.0708-.1119-.0465-.2135-.1147-.299-.2006-.0855-.0858-.1533-.1877-.1994-.2998-.0461-.112-.0697-.2321-.0693-.3533-.0006-.1212.0229-.2413.0689-.3534.0461-.1121.1138-.214.1994-.2998s.1873-.1539.2993-.2003c.1119-.0463.232-.0701.3532-.07zm.4477 1.2827.1373.24-.2978.0019-.0952-.1947c-.0425-.0852-.0972-.1637-.1624-.2331-.047-.0488-.0899-.061-.1958-.061l-.0437.0002-.0005.488h-.2456v-1.1912h.5933c.2557 0 .3757.1427.3757.3315.0006.18-.121.3093-.3221.3333l.0005.0067c.1022.0355.136.0688.2563.2784zm-.6584-.7648v.3272h.2488c.1664 0 .2213-.0811.2189-.1653 0-.1051-.0834-.1627-.2456-.1627zm-11.4053 2.8437c1.1594-1.3733 2.8752-2.357 5.3562-2.357 4.2947 0 5.4182 2.808 5.2774 5.4613-.0835 1.5947-.5952 3.4944-.9776 4.6307-1.6987 5.0482-3.7387 8.2405-8.3814 8.24-2.1186.0005-4.0576-.8262-4.8216-2.9088-1.3954 1.7658-3.5282 2.9184-5.96 2.9304-1.8586.009-3.304-.6478-4.2226-1.776-1.0907 1.2037-2.9363 1.7549-4.7707 1.7554-1.648-.001-3.024-.5752-3.9272-1.556-1.0064 1.015-2.58774 1.5536-4.60188 1.5064-2.58-.0618-4.02133-1.6098-4.0688-3.7586-.07093-3.3264 3.09707-10.1936 4.40294-12.2787.90133-1.4792 2.15333-2.2053 3.81604-2.2061.9128.0008 1.8501.1594 2.4296.7733.4765.504.553.952.5882 1.8 1.4614-2.3547 3.9243-2.6747 6.184-2.6741 1.7291 0 3.1643.6472 3.7664 1.6256 1.159-.9851 2.828-1.6102 4.8302-1.6102 2.0493.0003 3.576.5003 4.5264 1.5755.2096.236.3586.4163.5544.8269zm-22.607 11.5907c.0763-.8043-.5261-1.6728-2.92958-1.2557.23867-.5347.5936-1.2675.99654-2.0995 1.29124-2.6661 3.07544-6.3504 3.10904-7.7917.0182-.7107-.2682-1.3032-1.4208-1.3027-1.2176-.0005-1.98131.5088-2.60691 1.5365-1.3568 2.1667-4.23813 8.7027-4.1776 11.5278.03413 1.6149 1.28613 2.2522 2.67733 2.2848 1.91734.0445 4.12588-.4939 4.35228-2.8998zm4.8934-3.4747c-.16.4304-.4608 1.3318-.7038 2.2856.7888-.1968 1.3795-.333 2.392-.3096 1.1544.0283 1.8931.5062 1.8926 1.4614 0 2.313-2.5582 2.9925-4.3307 2.993-1.9483 0-3.6597-1.108-3.6597-3.2384 0-2.4976 1.3536-6.2848 2.624-8.8061 1.5594-3.0976 3.1538-3.5091 5.8986-3.5091 1.207 0 2.5963.5152 2.5963 1.6544 0 1.5792-1.3355 2.1814-2.6621 2.2576-.5672.0326-1.4384.0638-1.9595.0264 0 0-.4429.6734-.9109 1.8707 2.4554-.3456 3.4976.212 3.0832 1.632-.5611 1.9197-2.2246 2.0464-4.2603 1.6819zm10.657-5.097c.324-.4542.7574-.8747 1.4222-.8747.8146 0 .7357.4309.5424.9816-.5491 1.568 1.109 1.6093 1.5138 1.5773 1.4475-.1128 2.2451-1.048 2.4414-2.641.2688-2.1691-1.5587-3.0019-3.8752-3.0019-3.8614 0-5.3771 2.3616-6.823 5.7376-.6792 1.5859-1.5346 4.296-1.5344 6.0219-.0002 2.424 1.4747 3.7384 3.8518 3.7384 3.4712 0 5.924-2.768 6.6248-6.2168.2157-1.0614.4816-3.0531-2.2144-2.9422-1.3686.0566-2.1942.3584-2.6294 1.7568-.448 1.4406 1.1768 1.4798 1.1768 1.4798-.3269 1.4893-1.284 2.3922-2.1368 2.393-.5322 0-1.0165-.2309-.8544-1.3573.2408-1.6469 1.7832-5.6528 2.4944-6.6525zm16.0046 1.9752c-.4096 2.032-1.327 4.4373-2.3238 6.2296-1.6266 2.9237-3.5997 3.3333-5.3248 3.3114-1.724-.0205-3.6677-.6562-3.6824-3.317-.0104-1.9094.8128-4.6059 1.5123-6.3715 1.22-3.2027 2.4643-5.8147 6.4027-5.768 4.5914.0536 3.7725 4.1376 3.416 5.9155zm-5.7595 5.2098c.6384-1.0813 2.4355-5.9861 2.4845-7.2125.0144-.3573-.0445-.7733-.6205-.78-.3949-.0056-.7384.0709-1.0472.548-.6939.9019-2.7251 6.4493-2.6907 7.556.0126.3979.2347.7453.7232.7453.5627.0006.8744-.3866 1.1507-.8568z"
              fill="var(--tz-color-text-1)"></path></g
          ></svg
        >
        <svg
          fill="none"
          height="40"
          viewBox="0 0 77 40"
          width="77"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          ><clipPath id="snyk-a"
            ><path d="m0 0h76.9099v40h-76.9099z"></path></clipPath
          ><mask
            id="snyk-b"
            height="40"
            maskUnits="userSpaceOnUse"
            width="77"
            x="0"
            y="0"
            ><path
              d="m0 0h76.9099v39.9313h-76.9099z"
              fill="var(--tz-color-bg-1)"></path></mask
          ><mask
            id="snyk-c"
            height="40"
            maskUnits="userSpaceOnUse"
            width="26"
            x="0"
            y="0"
            ><path
              d="m.171677 0h25.064423v39.8112h-25.064423z"
              fill="var(--tz-color-bg-1)"></path></mask
          ><g clip-path="url(#snyk-a)"
            ><g mask="url(#snyk-b)"
              ><g fill="var(--tz-color-text-1)" mask="url(#snyk-c)"
                ><path
                  d="m24.5322 8.89269c-.3262-.08584-.6695-.18884-1.0301-.27468.1202.42919.1717.85837.1889 1.30472v.30897l-1.4936 4.0515c.7554 7.0043.3949 7.9657.2747 8.2747-.1888.4979-.7039 1.3047-1.5794 2.4893l.8412 7.897 3.0901-2.2318c.1202-.0858.2232-.206.2919-.3433.0686-.1374.103-.2919.103-.4464v-20.0858c0-.20601-.0687-.41202-.1889-.5837-.1201-.17167-.2918-.29184-.4978-.36051z"
                ></path><path
                  d="m25.2361 29.9399c0 .1545-.0344.309-.103.4464-.0687.1373-.1717.2575-.2919.3433l-3.0901 2.2318-.8412-7.897c.8584-1.1674 1.3734-1.9914 1.5794-2.4893.1202-.309.4978-1.2704-.2747-8.2747l1.4936-4.0515v-.30899c-.0172-.44635-.0687-.87553-.1889-1.30472.3605.08584.7039.17168 1.0301.27468.206.0515.3776.18884.515.36052.1202.17167.1888.37768.1888.58369z"
                ></path><path
                  d="m10.1631 9.32188c1.6481-.48068 3.4163-.48068 5.0644 0l.1888-.32618.2232-1.47639c-.7382-.03434-2.0086-.08584-2.9185-.08584-.9957 0-1.9742.03434-2.95275.08584l.22318 1.47639z"
                ></path><path
                  d="m12.721 7.43347c.9099 0 2.1803.0515 2.9185.08584l-.2232 1.47639-.1888.32618c-1.6481-.48068-3.4163-.48068-5.0644 0l-.18884-.30901-.22318-1.47639c.99572-.06867 1.97422-.10301 2.96992-.10301z"
                ></path><path
                  d="m3.2103 14.3004-1.49356-4.0515v-.30899c.01717-.44635.06867-.87553.18884-1.30472-.36051.08584-.70386.17168-1.030041.27468-.206008.0515-.377682.18884-.515021.36052-.120172.17167-.188841.37768-.188841.58369v20.10302c0 .1545.034334.309.103004.4463.068669.1374.171674.2575.291845.3434l3.107294 2.2489.85837-7.8798c-.85837-1.1846-1.39056-2.0086-1.5794-2.5065-.13734-.3433-.49785-1.2875.25751-8.309z"
                ></path><path
                  d="m3.69099 32.9785-3.107296-2.2317c-.120172-.0859-.223176-.206-.291846-.3434-.068669-.1373-.120171-.309-.120171-.4635v-20.08582c0-.20601.068669-.41202.188841-.58369.120171-.17168.309013-.29185.515021-.36052.326181-.08584.669531-.18884 1.030041-.27468-.103.42919-.17167.85837-.18884 1.30472v.30899l1.49356 4.0515c-.75536 7.0043-.39485 7.9657-.27467 8.2747.18884.4979.72103 1.3219 1.57939 2.5064z"
                ></path><path
                  d="m21.2704 22.1116c.2403-.618.103-3.588-.3777-7.9142v-.0686l1.5107-4.1202v-.08585c0-1.80258-2.3176-6.60945-3.6738-9.150218l-.3605-.65236c-.0172-.0343351-.0515-.0686699-.103-.0858372-.0343-.0171674-.0858-.0343348-.1373-.0171674-.0516 0-.0859.0343347-.1202.0686695-.0344.0343351-.0515.0686691-.0515.1201721l-1.3047 9.236051-.8412 1.40774-.2232-.0687c-.9271-.3262-1.9056-.4978-2.9013-.5322-.9785.0172-1.9571.206-2.88413.5322l-.22317.0687-.82404-1.40774-1.32189-9.253219c0-.051502-.03433-.085837-.0515-.1201715-.01717-.0343347-.08584-.0686695-.12017-.0686695-.0515 0-.08584 0-.13734.0171674s-.08584.0515021-.103.1030046l-.36052.65236c-1.37339 2.557938-3.67382 7.364808-3.67382 9.150218v.08585l1.51073 4.1202v.0686c-.48069 4.3262-.61802 7.2962-.37768 7.9142.22317.5665 1.08154 1.7682 1.80257 2.7124l-1.03004 9.6824 1.03004.7554.77254.5665 5.11592 3.7082c.2575.1888.5665.2918.8755.2918s.618-.103.8755-.2918l6.3176-4.5494.6352-.4635-1.0472-9.6996c.7382-.9613 1.5966-2.1459 1.8026-2.7124zm-2.5408-16.12018.1717-1.15022c0-.03433.0172-.06867.0515-.103.0343-.03434.0515-.0515.103-.0515.0343 0 .0687 0 .103.01716.0343.01717.0515.0515.0687.06867.8412 1.75107 1.648 3.69099 1.7339 4.56653 0 .03433 0 .0515-.0172.06867l-.412 1.08157c-.0172.0343-.0343.0515-.0515.0858s-.0515.0343-.0859.0343c-.0343 0-.0686 0-.0858-.0171-.0172-.0172-.0515-.0344-.0687-.0687-1.0128-1.59656-1.4077-3.86266-1.4935-4.51502-.0172.01717-.0172 0-.0172-.01716zm-4.0172 11.34768c.4636-.4636 1.3048-1.0988 2.352-1.0988 1.3905 0 .6008 1.0816.3262 1.4078-.0172.0171-.0515.0515-.0687.0515s-.0515.0171-.0859.0171h-2.3862c-.0344 0-.0859-.0171-.1202-.0343s-.0687-.0515-.0858-.103c-.0172-.0515-.0172-.0858-.0172-.1202 0-.0343.0515-.0858.0858-.1201zm1.2018 2.0085c.0343.0859.103.1717.1716.2232.0687.0515.1717.103.2575.103.1374.0172.2747-.0171.3777-.0858.1202-.0859.1889-.1889.2232-.3262-.0858 0-.1545-.0343-.206-.0858s-.103-.1202-.103-.206c0-.0515 0-.103.0172-.1545.0171-.0516.0515-.0859.0858-.1374l-.0172-.0172h.9442v.0515c0 .1717-.0171.3262-.0858.4807-.0515.1545-.1545.2919-.2747.4121-.1202.1201-.2575.206-.412.2746-.1545.0687-.309.103-.4807.103s-.3262-.0343-.4807-.103c-.1545-.0686-.2918-.1716-.3948-.2918s-.206-.2575-.2575-.412-.0859-.3262-.0687-.4807v-.0344h.927c-.103.0687-.1888.1717-.2403.2919-.0343.1373-.0343.2747.0172.3948zm-7.55369-3.1073c1.04721 0 1.88839.6352 2.35189 1.0988.0344.0343.0515.0686.0515.1201 0 .0344 0 .0859-.0171.1202-.0172.0343-.0515.0687-.0859.103-.0343.0172-.0858.0343-.1201.0343h-2.33479c-.03434 0-.06867 0-.08584-.0171-.01717-.0172-.0515-.0344-.06867-.0515-.29185-.3262-1.09871-1.4078.30901-1.4078zm.42919 2.7297c-.01717.0686-.05151.1545-.10301.1888s-.13734.0858-.20601.0858c.03434.1374.10301.2575.22318.3434.12017.0858.25751.1202.39485.103.08584-.0172.17167-.0515.24034-.103s.12017-.1202.17168-.206c.0515-.1202.06867-.2575.03433-.3777-.03433-.1202-.12017-.2404-.24034-.309h.90988.0172v.0171c0 .1717-.0172.3262-.0687.4807s-.1374.2919-.25752.4121c-.12017.1201-.25751.2231-.39485.2918-.15451.0687-.30902.103-.48069.103s-.32618-.0343-.48069-.103c-.1545-.0687-.29184-.1545-.41201-.2747-.12018-.1202-.20601-.2575-.25751-.412-.05151-.1545-.08584-.3262-.08584-.4807v-.0515h.9442l-.01716.0172c.03433.0343.06867.0858.08583.1202-.01716.0515 0 .103-.01716.1545zm-3.57082-8.4121c-.01717.0344-.03433.0515-.06867.0687-.03433.0172-.06867.0172-.08584.0172-.03433 0-.06866-.0172-.08583-.0344-.01717-.0171-.0515-.0515-.0515-.0858l-.39485-1.08154c-.01717-.01717-.01717-.0515-.01717-.06867.08584-.87554.8927-2.81545 1.7339-4.56652.01717-.03434.03434-.06867.06867-.08584.03434-.01717.06867-.01717.10301-.01717.03433 0 .06867.01717.103.0515.03434.03434.03434.06867.0515.10301l.17168 1.15021v.05151c-.13734.61802-.53219 2.90128-1.5279 4.49781zm3.0558 19.5194c-.6867-1.9056-.70387-4.5494-.70387-4.6696v-.1716l-.12017-.1374c-.29184-.3605-.65236-.824-1.01287-1.3047-.01717-.0343-.03434-.0687-.03434-.103s0-.0687 0-.103c0-.0344.03434-.0687.0515-.0859.01717-.0171.0515-.0343.08584-.0515l1.85408-.5493c.03433-.0172.06867-.0343.103-.0687l1.80255-2.0429c.0344-.0343.0687-.0515.103-.0687.0344-.0171.0859-.0171.1202 0 .0343.0172.0687.0344.103.0687s.0343.0687.0343.1202l.3091 5.8369c0 .0515-.0172.0858-.0344.1373-.1202.1889-.4807.7382-.4807 1.0816 0 .4291.6352 1.0128 1.2704 1.4592 0-.0172.0172-.0343.0172-.0515.2232-.3949.515-.4635.6523-.1717.0515.2232.0687.4635.0515.6867h.0172v.5322c0 .0343 0 .0687-.0172.103-.1201.2403-.6695 1.2361-1.854 1.2361-.515.0171-1.7511-.1545-2.31762-1.6824zm5.28752 2.2145c.0172 0 .0344 0 .0515.0172.0172.0172.0344.0172.0344.0343v.0515c0 .0172-.0172.0344-.0344.0516-.2575.206-.5837.309-.9098.309-.3262 0-.6524-.103-.9099-.309-.0172-.0172-.0172-.0344-.0343-.0516-.0172-.0171 0-.0343 0-.0515 0-.0171.0171-.0343.0343-.0343.0172-.0172.0343-.0172.0515-.0172zm1.5794.6352c-.2403.4464-.5837.8069-1.0128 1.0644-.4292.2575-.9099.3949-1.4249.3949-.5151 0-.9957-.1374-1.4249-.3949s-.7726-.6352-1.0129-1.0644c-.0172-.0343-.0343-.0686-.0343-.1201 0-.0344.0171-.0687.0343-.103.0172-.0344.0515-.0515.0858-.0859.0344-.0171.0687-.0171.1202-.0171h.1373c.1374 0 .2747-.0172.4121-.0515.0343-.0172.0858 0 .1201 0 .0344.0171.0687.0343.103.0858.1717.2403.3777.4292.6352.5665.2575.1374.5322.206.8241.206.2918 0 .5665-.0686.824-.206.2575-.1373.4807-.3262.6352-.5665.0172-.0343.0687-.0687.103-.0858.0343-.0172.0858-.0172.1202 0 .1373.0343.2918.0515.4291.0515h.1202c.0344 0 .0687 0 .103.0171.0344.0172.0687.0515.0859.0687.0171.0343.0343.0687.0343.103 0 .0687 0 .103-.0172.1373zm3.8284-9.133c-.3606.4807-.7211.927-1.0129 1.3047l-.103.1374v.1888c0 .1202 0 2.7639-.7039 4.6695-.5493 1.5279-1.8026 1.6996-2.3004 1.6996-1.1846 0-1.7339-.9957-1.8541-1.2361-.0172-.0343-.0172-.0686-.0172-.103v-.5322h.0172c-.0172-.2231 0-.4635.0515-.6866.1373-.3091.412-.2404.6524.1716 0 .0172.0171.0344.0171.0515.6352-.4635 1.2704-1.03 1.2704-1.4592 0-.3433-.3605-.8927-.4807-1.0815-.0343-.0344-.0343-.0859-.0343-.1374l.309-5.8369c0-.0515.0172-.0858.0343-.1202.0344-.0343.0687-.0686.1031-.0686.0343-.0172.0858-.0172.1201 0 .0344.0171.0859.0343.103.0686l1.7683 2.0258c.0343.0343.0686.0515.103.0687l1.8541.5493c.0343.0172.0515.0343.0858.0515.0172.0172.0343.0515.0515.0859.0172.0343.0172.0686 0 .103 0 .0171 0 .0515-.0343.0858z"
                ></path></g
              ></g
            ><path
              d="m69.2704 21.3562h-.2919v5.1502h-3.6909v-12.824l3.6909-5.7854v11.9657c.7382-.9099 3.2103-4.3262 3.2103-4.3262h4.5666l-4.3262 4.5837 4.4807 6.4034h-4.6696zm-10.3004-.8412 1.5107-4.9442h3.6566l-4.2918 10.9013c-1.2876 3.279-3.1073 5.4936-5.8541 5.4936-1.0472 0-1.9399-.2747-2.4034-.5322l1.4764-2.2833c.2232.0344.4463.0344.6695.0344 1.2704 0 2.2146-1.2189 2.8155-2.6782l-4.4979-10.9356h4.1545l1.6137 4.8756c.3091.927.5494 2.6952.5494 2.6952s.2918-1.6995.6009-2.6266zm-11.176-.2575c0-1.4249-.6352-2.0944-1.8369-2.0944-.5837 0-1.2017.1717-1.6137.412v7.9313h-3.7082v-10.8326l3.6223-.2918-.0858 1.7682h.1202c.7725-1.0472 2.1115-1.8541 3.6738-1.8541 1.8884 0 3.5364 1.1674 3.5364 3.9485v7.2618h-3.7253zm-17.7511 5.6824.3262-2.5236c1.1502.5665 2.4549.8412 3.5537.8412.7897 0 1.3218-.2747 1.3218-.7553 0-1.3906-4.9957-1.0473-4.9957-4.6696 0-2.3176 2.1288-3.5365 4.7726-3.5365 1.3219 0 2.6952.3606 3.5708.6696l-.3605 2.4721c-.9271-.3605-2.1975-.6867-3.2447-.6867-.6523 0-1.1674.2232-1.1674.6523 0 1.3734 5.0988 1.0988 5.0988 4.6181 0 2.3519-2.0945 3.691-4.9442 3.691-1.5623.0343-2.8327-.2404-3.9314-.7726z"
              fill="var(--tz-color-text-1)"></path></g
          ></svg
        >
      </p>
    </section>
    <section class="card w15 h4 m2">
      <p class="explainer">
        <b>terrazzo</b> is a collection of MIT licensed open source tools to help
        you create and manage your design system. It’s free to use, forever. Keep
        full control over your design system!
      </p>
      <menu class="cta">
        <ButtonLink
          href="https://github.com/terrazzoapp/terrazzo"
          target="_blank">View on GitHub</ButtonLink
        >
        <ButtonLink href="/docs/cli" variant="lime">Get Started</ButtonLink>
      </menu>
    </section>
  </main>
</DefaultLayout>

<style>
  .card {
    background: var(--tz-color-bg-1);
    border: var(--tz-border-1);
    color: var(--tz-color-text-1);
    display: block;
    margin-inline: auto;
    margin-block: var(--grid-size);
    padding: calc(0.5 * var(--grid-size));
    position: relative;
    z-index: 10;
  }

  .h3 {
    height: calc(3 * var(--grid-size));
  }

  .h4 {
    height: calc(4 * var(--grid-size));
  }

  .m2 {
    margin-block: calc(2 * var(--grid-size));
  }

  .m3 {
    margin-block: calc(3 * var(--grid-size));
  }

  .w11 {
    width: calc(9 * var(--grid-size));
    @media (width >= 900px) {
      width: calc(11 * var(--grid-size));
    }
  }

  .w15 {
    width: calc(11 * var(--grid-size));
    @media (width >= 900px) {
      width: calc(15 * var(--grid-size));
    }
  }

  .illo {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: calc(3 * var(--grid-size));
    width: calc(11 * var(--grid-size));
    z-index: 0;

    @media (width >= 900px) {
      width: calc(13 * var(--grid-size));
    }
  }

  .title {
    display: flex;
    gap: calc(0.25 * var(--grid-size));
    flex-direction: column;
    font-family: var(--tz-typography-900-bold-font-family);
    font-size: var(--tz-typography-800-bold-font-size);
    font-weight: var(--tz-typography-900-bold-font-weight);
    letter-spacing: var(--tz-typography-900-bold-letter-spacing);
    line-height: 1;
    margin: 0;

    @media (width >= 900px) {
      font-size: var(--tz-typography-900-bold-font-size);
    }

    small {
      display: block;
      font-family: var(--tz-typography-family-mono);
      font-size: 0.375em;
      font-weight: 400;
      letter-spacing: calc(1 / 4 * 1em);
      text-transform: uppercase;
      opacity: 0.7;
    }
  }

  .subheading {
    font-family: var(--tz-typography-family-mono);
    font-size: var(--tz-typography-400-bold-font-size);
    font-weight: var(--tz-typography-400-bold-font-weight);
    letter-spacing: var(--tz-typography-400-bold-letter-spacing);
    line-height: 1;
    margin: 0;
    opacity: 0.7;
    letter-spacing: calc(1 / 4 * 1em);
    text-align: center;
    text-transform: uppercase;
  }

  .logos {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin: 1.5rem 0 0 0;
    text-align: center;
  }

  .explainer {
    font-size: var(--tz-typography-400-regular-font-size);
    margin: 0;
  }

  .cta {
    bottom: -1px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -1px;

    .tz-button {
      width: calc(3 * var(--grid-size));
    }
  }
</style>
