---
import Cobalt from '../components/Cobalt.astro';
import DocsNav from '../components/DocsNav.astro';
import DocsPagination from '../components/DocsPagination.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import SkipToMain from '../components/SkipToMain.astro'
---

<!DOCTYPE html>
<html>
  <head>
    <Head title="Cobalt" />
    <style lang="scss">
      @use "../../tokens" as *;

      .header {
        align-items: center;
        background: $color__blue;
        color: $color__white;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4.5rem);
        justify-content: center;

        .title {
          margin-top: 2em;
          font-weight: 350;
        }
      }

      section + section {
        margin-top: 4rem;
      }

      p {
        font-size: 16pt;
        line-height: 1.7;
      }

      figure {
        margin: 0;
      }

      .split {
        display: grid;
        grid-template-columns: 6fr 7fr;
        grid-gap: 4rem;

        p:first-of-type {
          margin-top: 0;
        }
      }

      .visual {
        align-self: start;
        background-color: $color__blue;
        color: $color__white;
        font-size: 18pt;
        font-weight: 500;
        margin-top: 4rem;
        padding-bottom: 2rem;
        position: relative;

        &-inner {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          max-width: 60rem;
        }

        &-base {
          height: 0;
          margin-top: 2rem;
          padding-top: 30%;
          position: relative;
        }

        &-layer {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }

        &-cobalt,
        &-tokens {
          transform: translateY(-50%);
          position: absolute;
        }

        &-cobalt {
          top: 50%;
        }

        &-tokens {
          top: 75%;
        }

        &-line-c,
        &-line-t {
          border-top: 1px dashed currentColor;
          display: block;
          left: 6.5rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: calc(51% - 6.5rem);
        }

        &-line-t {
          border-top: 3px solid currentColor;
          top: 78%;
          width: calc(58% - 6.5rem);
        }

        &-img {
          bottom: 0;
          height: auto;
          position: absolute;
          right: 0;
          width: 50%;
        }
      }

      .actions {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
        position: relative;

        &::after {
          border-right: 1px dashed $color__white;
          content: "";
          display: block;
          height: calc(100% - 2.5rem);
          left: 0.5rem;
          position: absolute;
          top: 1rem;
        }

        a {
          margin-top: 1em;
          position: relative;

          &::before {
            border-top: 1px dashed $color__white;
            content: "";
            display: block;
            position: absolute;
            right: calc(100% + 4px);
            top: 50%;
            transform: translateY(-50%);
            width: 1.75rem;
          }
        }

        &-title {
          margin-bottom: 0;
        }
      }

      .docs {
        display: grid;
        grid-template-columns: min-content auto;
        padding-right: 12rem;
      }

      #main {
        margin-top: -2.5rem;
      }
    </style>
  </head>
  <body class="page--home">
    <SkipToMain />
    <Nav />
    <div>
      <header class="header tac">
        <Cobalt />
        <h1 class="title">Design Token tooling</h1>
      </header>
      <main class="wrapper" id="#main">
        <section class="py10">
          <h2>Start using the official Design Tokens Schema today.</h2>
          <p>
            The new <a
            href="https://design-tokens.github.io/community-group/format/">Design
            Tokens schema</a> is a project to unify storage of design tokens
            into a standard format. With a standard format comes standard
            tooling to manage it, update it automatically from Figma, and
            generate code for your project such as Sass, CSS, and TypeScript.
            Cobalt is that standard tool.
          </p>
          <p>
            Cobalt is built to be easy-to-use, follows a standard format, and
            has plugins that make it easy to generate code from your design
            tokens. You can even write your own Cobalt plugin to generate
            special code from your design tokens. Spend less time
            building/managing design tooling, and more time putting your design
            tokens to work!
          </p>
          <h2 class="mt12">Manage <em>your</em> design tokens—not someone else’s</h2>
          <p>
            Working with design tokens doesn’t mean you have to follow a
            template, or have to be restricted in your design system. Cobalt is
            a universal tool because it’s so low-level. It’s a tool to organize
            & manage your tokens, which are lower-level than your UI or design
            system.
          </p>
          <p>
            Using Cobalt won’t automate away building your UI, but it can keep
            your tokens—colors, gradients, typography, iconography, borders,
            strokes, shadows, and more—in sync with Figma and keep your CSS in
            sync with your design system. It’s generic enough that it will work
            for any build system, and low-level enough it can work with any
            design system.
          </p>
        </section>
      </main>
    </div>
    <figure class="visual">
      <div class="visual-layer" style="background:#1c9fff"><div class="visual-inner">UI</div></div>
      <div class="visual-layer" style="background:#1c89fd"><div class="visual-inner">Platform</div></div>
      <div class="visual-layer" style="background:#2e5dce"><div class="visual-inner">Design System</div></div>
      <div class="visual-inner">
        <div class="visual-base">
          <span class="visual-cobalt">Cobalt</span>
          <span class="visual-tokens">Tokens</span>
          <div class="visual-line-c"></div>
          <div class="visual-line-t"></div>
          <img class="visual-img" src="/token-hex.svg">
        </div>
      </div>
    </figure>
    <div class="wrapper">
      <DocsPagination />
    </div>
    <Footer />
  </body>
</html>
