---
import TokenLab from '@terrazzo/token-lab';
import HeadMeta from '../components/head-meta.astro';
import '@terrazzo/token-lab/token-lab.css';
---
<html lang="en">
  <head>
    <HeadMeta title="Token Lab" />
  </head>
  <body>
    <TokenLab client:load />
  </body>
</html>
