---
import {Code} from 'astro/components';
import Layout from '../../../layouts/docs.astro';
import JSONYaml from '../../../components/JSONYaml.astro';

const title = 'Modes';
---

<Layout content={{title}}>
  <h1>{title}</h1>

  <p>Modes are <strong>alternate forms of a token.</strong> They allow your design system to account for different states or contexts that allow some values to change while others remain the same.</p>

  <p>To explain this concept, we’ll explore 2 common usages: <b>color</b> and <b>typography</b>.</p>

  <h2>Example: color modes</h2>

  <figure>
    <img src="/images/mode-github.png" width="2034" height="1162" />
    <figcaption>GitHub’s settings allow not only light and dark modes, but alternate color themes for color blindness.</figcaption>
  </figure>

  <p>
    In this screenshot of GitHub’s dashboard you’ll find 5 color themes: <em>Light default</em>, <em>Light high contrast</em>, <em>Dark default</em>, <em>Dark high contrast</em>, and <em>Dark dimmed</em> (shown above). How might that be
    represented in tokens?
  </p>

  <p><em>Note: since this guide was written, GitHub has since added additional color modes. But since that doesn’t change the concept, we’ll stick with the older (simpler) example for the purposes of illustration.</em></p>

  <h3>Without Modes</h3>

  <p>
    Consider the <code>red</code> and <code>white</code> colors in the system. Whereas <code>red</code> has a different value for each mode, <code>white</code> is an absolute value that doesn’t change. A (wrong) first attempt may look
    something like:
  </p>

  <JSONYaml
    code={`{
  "color": {
    "$type": "color",
    "red": {"$value": "#fa4549"},
    "red-light": {"$value": "#fa4549"},
    "red-lightHighContrast": {"$value": "#d5232c"},
    "red-dark": {"$value": "#f85149"},
    "red-darkHighContrast": {"$value": "#ff6a69"},
    "red-darkDimmed": {"$value": "#f47067"},
    "white": {"$value": "#ffffff"}
  }
}`}
  />

  <p>But off the bat we have some problems:</p>

  <ul>
    <li>Color themes are scattered between our original colors</li>
    <li>Token names now carry implicit context</li>
    <li>There’s not a clear abstraction of color themes</li>
    <li>It’s unclear when <code>[color]-[mode]</code> exists, and when it doesn’t</li>
    <li>Strict naming guidelines must be enforced for this to work long-term</li>
    <li>Updating/managing color modes can become a precarious game of find-and-replace</li>
    <li>What if <code>red-darker</code> was added in the future—do we now have <code>red-darker</code>, <code>red-darker-dark</code>, and <code>red-darker-light</code>?</li>
  </ul>

  <h3>With Modes</h3>

  <p><b>Modes</b> exist to solve these problems by decoupling token names from context and state. This is how it can be represented with modes (using the “$extensions” property from the token syntax):</p>

  <JSONYaml
    code={`{
  "color": {
    "$type": "color",
    "red": {
      "$value": "#fa4549",
      "$extensions": {
        "mode": {
          "light": "#fa4549",
          "lightColorblind": "#d08002",
          "lightHighContrast": "#d5232c",
          "dark": "#f85149",
          "darkColorblind": "#c38000",
          "darkHighContrast": "#ff6a69"
        }
      }
    },
    "white": {"$value": "#ffffff"}
  }
}`}
  />

  <p>
    Our tokens are vastly improved by having clear colors, and clear color modes. And color modes can be easily modified without affecting any names. Colors can optionally have mode variations, or not. And best of all, application-specific
    context isn’t affecting your token names.
  </p>

  <p>
    This simplifies your application code, too, as, you can simply refer to <code>red</code> or <code>white</code> and the mode can be inferred based on the global context (see the <a href="#examples-in-code">Examples in code</a> section
    below to see the “how”).
  </p>

  <h3>With @cobalt/plugin-css</h3>

  <p>If using <a href="/docs/integrations/css">@cobalt/plugin-css</a>, you could generate CSS to handle these modes. That would look something like:</p>

  <Code
    lang="js"
    code={`import pluginCSS from '@cobalt-ui/plugin-css';

/** @type import('@cobalt-ui/core').Config */
export default {
  tokens: './tokens.json',
  outDir: './tokens/',
  plugins: [
    pluginCSS({
      modeSelectors: [
        {mode: 'light',             selectors: ['@media (prefers-color-scheme: light)', 'body[data-color-mode="light"]']},
        {mode: 'lightHighContrast', selectors: ['@media (prefers-color-scheme: light) and (prefers-contrast: more)', 'body[data-color-mode="lightHighContrast"]']},
        {mode: 'lightColorblind',   selectors: ['body[data-color-mode="lightColorblind"]']},
        {mode: 'dark',              selectors: ['@media (prefers-color-scheme: dark)', 'body[data-color-mode="dark"]']},
        {mode: 'darkHighContrast',  selectors: ['@media (prefers-color-scheme: dark) and (prefers-contrast: more)', 'body[data-color-mode="darkHighContrast"]']},
        {mode: 'darkColorblind',    selectors: ['body[data-color-mode="darkColorblind"]']},
      ],
    }),
  ],
};`}
  />

  <p>
    Then in your CSS, the correct color mode would apply automatically in most instances, but you could also set <code>&lt;body data-color-mode="[mode]"&gt;</code> to override it. Also note there aren’t browser-global colorblind
    preferences, so for the colorblind color schemes, they’d have to be set manually.
  </p>

  <h2>Example: typographic modes</h2>

  <figure>
    <img src="/images/mode-apple.png" width="1562" height="898" />
    <figcaption>Apple’s dynamic text sizes use modes to control multiple type scales</figcaption>
  </figure>

  <h3>Without Modes</h3>

  <p>Another common example is <strong>text size</strong>. If users need to make the text bigger or smaller, they can adjust to their taste. But trying to have this context exist in the token names can result in pretty long values:</p>

  <JSONYaml
    code={`{
  "typography": {
    "size": {
      "title1-xSmall": {"$value": "25px"},
      "title1-Small": {"$value": "26px"},
      "title1-Medium": {"$value": "27px"},
      "title1-Large": {"$value": "28px"},
      "title1-xLarge": {"$value": "30px"},
      "title1-xxLarge": {"$value": "32px"},
      "title1-xxxLarge": {"$value": "32px"}
    }
  }
}`}
  />

  <p>
    Referring to a font size as <code>typography.size.title1-Medium</code> or <code>typography.size.title2-Medium</code> is a bad idea, because then every level of your application must be aware of the user’s current preference settings.
    And if values ever change, now your entire application must be updated everywhere.
  </p>

  <h3>With Modes</h3>

  <p>Instead, by declaring font sizes as modes, the value becomes much more portable: <code>typography.size.title1</code>.</p>

  <JSONYaml
    code={`{
  "typography": {
    "size": {
      "title1": {
        "$name": "Title 1",
        "$type": "dimension",
        "$value": "28px",
        "$extensions": {
          "mode": {
            "xSmall": "25px",
            "Small": "26px",
            "Medium": "27px",
            "Large": "28px",
            "xLarge": "30px",
            "xxLarge": "32px",
            "xxxLarge": "32px"
          }
        }
      }
    }
  }
}`}
  />

  <p>Now the user preferences only have to be dealt with in the global context, and the rest of your code will adapt.</p>

  <h2>Best practices</h2>

  <p>A mode is best used for <strong>2 variations that are never used together.</strong></p>

  <p>
    Back to the color example, if a user has requested colorblind-friendly colors, we’d never want to show them the colorblind-friendly green in some areas, and the colorblind-unfriendly green in the same view. We’d always want to respect
    their preferences. And thus, color modes are a great use of this.
  </p>

  <p>So following that, here are some common scenarios for when modes should—or shouldn’t—be used.</p>

  <h3>✅ Good usecases for modes</h3>

  <p>Modes work best when a user can’t be in 2 contexts at once:</p>

  <ul>
    <li>User preferences (e.g. text size, reduced motion, colorblind mode)</li>
    <li>Device (e.g. mobile or desktop)</li>
    <li>Region/language</li>
    <li>Product/application area (e.g. different typographic settings in a dashboard UI vs longform content in marketing pages and documentation)</li>
  </ul>

  <h3>❌ Bad usecases for modes</h3>

  <p>However, when 2 or more things are frequently used side-by-side, modes should be avoided:</p>

  <ul>
    <li>Semantic color (e.g <i>success</i> or <i>error</i>)</li>
    <li>Localized state (e.g. <i>disabled</i> or <i>active</i>)</li>
    <li>Color shades/hues</li>
    <li>Components (e.g. <i>card</i> or <i>button</i>)</li>
  </ul>

  <h2>Examples in code</h2>

  <p>The examples above were generic concepts that applied to all languages. To see how to use modes in specific languages, see the following plugin docs:</p>

  <ul>
    <li><a href="/docs/integrations/css#mode-selectors">@cobalt-ui/plugin-css</a></li>
    <li><a href="/docs/integrations/js#usage">@cobalt-ui/plugin-js</a></li>
    <li><a href="/docs/integrations/sass#modes">@cobalt-ui/plugin-sass</a></li>
  </ul>

  <h2>Advanced</h2>

  <h3>Validation</h3>

  <p>To enforce all modes exist for a group. You can assert type checking with <code>$extensions.requiredModes</code>:</p>

  <JSONYaml
    code={`{
  "color": {
    "$extensions": {
      "requiredModes": ["light", "lightColorblind", "lightHighContrast", "dark", "darkColorblind", "darkHighContrast"]
    },
    "red-4": {
      "$type": "color",
      "$value": "#fa4549",
      "$extensions": {
        "mode": {
          "light": "#fa4549",
          "lightColorblind": "#d08002",
          "lightHighContrast": "#d5232c",
          "dark": "#f85149",
          "darkColorblind": "#c38000"
        }
      }
    }
  }
}`}
  />

  <p>In the above example, we’d have an error on our <code>red-4</code> color because the <code>dark-high-contrast</code> mode is missing.</p>

  <p><code>requiredModes</code> can be enforced at any level. And it will require any and all siblings and children to have every mode present.</p>
</Layout>
