.tz-demo {
  display: grid;
}

.tz-demo-canvas {
  padding: var(--tz-space-400);
}

.tz-demo-code {
  contain: inline-size;
}

.tz-demo-code-copy-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  right: var(--tz-space-300);
  top: var(--tz-space-200);
  z-index: var(--tz-layer-nav);
}

.tz-demo-code-icon {
  opacity: 0.75;
}

.tz-demo-code-overflow {
  overflow-x: auto;
}
