<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 3px solid currentColor;
    display: flex;
    font-size: 24px;
    font-weight: 550;
    height: 5em;
    justify-content: flex-end;
    line-height: 0.8;
    padding: 0.2em;
    width: 5em;
  }
</style>

<div class="box">
  Cobalt
</div>
