<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 2px solid $color__white;
    display: flex;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 0.75;
    height: 2.5em;
    justify-content: flex-end;
    padding: 0.25em;
    width: 2.5em;
  }
</style>

<div class="box">
  Co
</div>
