<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 2px solid currentColor;
    display: flex;
    font-size: 100%;
    font-weight: 550;
    line-height: 0.8;
    height: token('space.xl');
    justify-content: flex-end;
    padding: token('space.3xs');
    width: token('space.xl');
  }
</style>

<div class="box">
  Co
</div>
