<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 2.5px solid currentColor;
    display: flex;
    font-size: 1rem;
    font-weight: 550;
    line-height: 0.8;
    height: 2.25rem;
    justify-content: flex-end;
    padding: 0.2em;
    width: 2.25rem;
  }
</style>

<div class="box">
  Co
</div>
