<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 4px solid $color__white;
    display: flex;
    font-size: 32pt;
    font-weight: 600;
    height: 5em;
    justify-content: flex-end;
    line-height: 0.75;
    padding: 0.25em;
    width: 5em;
  }
</style>

<div class="box">
  Cobalt
</div>
