---
import { DiscordLogo, GitHubLogo } from '@terrazzo/icons';
import SearchBox from './SearchBox.js';
import ThemeSwitcher from './ThemeSwitcher.js';
import Terrazzo from './terrazzo.astro';
import VersionSwitcher from './VersionSwitcher.js';
---

<div class="header-nav">
  <a class="logo-link" href="/"><Terrazzo size="1.25rem" /></a>
  <div class="search"><SearchBox client:only="react" /></div>
  <nav class="nav">
    <ul>
      <li>
        <ThemeSwitcher client:load />
      </li>
      <li>
        <VersionSwitcher client:load />
      </li>
      <li>
        <a
          href="https://github.com/terrazzoapp/terrazzo"
          title="Terrazzo on GitHub"><GitHubLogo /></a
        >
      </li>
      <li>
        <a href="https://discord.gg/cju3dXyHNd" title="Join Terrazzo on Discord"
          ><DiscordLogo /></a
        >
      </li>
    </ul>
  </nav>
</div>

<style>
  .header-nav {
    --nav-height: var(--grid-size);

    background-color: var(--tz-color-bg-1);
    border-top: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
    color: var(--tz-color-text-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    @media (width >= 900px) {
      align-items: center;
      border-top: none;
      display: flex;
      max-height: var(--grid-size);
      padding-inline-end: var(--tz-space-500);
    }
  }

  .logo-link {
    align-items: center;
    border-inline-end: 1px solid var(--grid-color);
    padding-inline-start: calc(0.5 * var(--grid-size));
    padding-inline-end: calc(0.5 * var(--grid-size));
    display: flex;
    height: var(--grid-size);

    @media (width >= 750px) {
      width: calc(var(--sidebar-width) + 1px);
    }
  }

  .nav {
    align-items: center;
    border-top: 1px solid var(--grid-color);
    display: flex;
    grid-column: span 2;
    justify-content: space-between;
    margin-inline-start: auto;
    padding-inline: var(--tz-space-200);
    position: relative;
    width: 100%;

    @media (width >= 750px) {
      border-top: none;
      border-inline-start: 1px solid var(--grid-color);
      flex: 0 0 auto;
      justify-content: flex-end;
      padding-inline-start: var(--tz-space-200);
      width: auto;
    }

    ul {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      @media (width >= 750px) {
        gap: var(--tz-space-300);
      }
    }

    li {
      z-index: 50;
    }

    a {
      align-items: center;
      border-radius: var(--tz-radius-200);
      display: flex;
      font-size: var(--tz-font-body-font-size);
      font-weight: var(--tz-font-body-font-weight);
      font-variation-settings: var(--tz-font-body-font-variation-settings);
      gap: var(--tz-space-200);
      height: var(--grid-size);
      line-height: 1;
      padding-inline: var(--tz-space-100);
      text-decoration: none;

      &[aria-current] {
        color: var(--tz-color-control-text-selected);
        font-variation-settings: var(
          --tz-font-body-strong-font-variation-settings
        );
      }

      svg {
        height: 1.25rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
        width: 1.25rem;
      }
    }
  }
</style>
