---
import { DiscordLogo, GitHubLogo } from '@terrazzo/icons';
import SearchBox from './SearchBox.js';
import ThemeSwitcher from './ThemeSwitcher.js';
---

<header class="header-nav">
  <div />
  <div class="search">
    <SearchBox client:only="react" />
  </div>
  <nav class="nav">
    <ul>
      <li>
        <ThemeSwitcher client:load />
      </li>
      <li>
        <a
          href="https://github.com/terrazzoapp/terrazzo"
          title="Terrazzo on GitHub"
        >
          <GitHubLogo />
        </a>
      </li>
      <li>
        <a
          href="https://discord.gg/cju3dXyHNd"
          title="Join Terrazzo on Discord"
        >
          <DiscordLogo />
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header-nav {
    align-items: center;
    background-color: var(--tz-color-bg-1);
    border-top: 1px solid var(--grid-color);
    border-bottom: 1px solid var(--grid-color);
    color: var(--tz-color-text-1);
    display: grid;
    grid-template-columns: 0px auto 1fr;
    max-height: var(--grid-size);
    justify-content: space-between;
    padding-inline: var(--tz-space-500);
    width: 100%;

    @media (width >= 900px) {
      border-top: none;
      border-left: 1px solid var(--grid-color);
      grid-template-columns: 1fr auto 1fr;
    }
  }

  .search {
    flex: 1 0 auto;
  }

  .nav {
    align-items: center;
    flex-grow: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

    ul {
      align-items: center;
      display: flex;
      gap: var(--tz-space-300);
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      z-index: 50;
    }

    a {
      align-items: center;
      border-radius: var(--tz-radius-200);
      display: flex;
      font-size: var(--tz-font-body-font-size);
      font-weight: var(--tz-font-body-font-weight);
      font-variation-settings: var(--tz-font-body-font-variation-settings);
      gap: var(--tz-space-200);
      height: var(--grid-size);
      line-height: 1;
      padding-inline: var(--tz-space-100);
      text-decoration: none;

      &[aria-current] {
        color: var(--tz-color-control-text-selected);
        font-variation-settings: var(
          --tz-font-body-strong-font-variation-settings
        );
      }

      svg {
        height: 1.25rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
        width: 1.25rem;
      }
    }
  }
</style>
