---
import CobaltSm from './CobaltSm.astro';
---

<style lang="scss">
  @use "../../tokens" as *;

 .footer {
   border-top: 1px solid currentColor;
   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 2rem;
   margin-top: 2rem;
   padding-bottom: 6rem;
   padding-top: 1.5rem;
 }

 nav {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   width: 8rem;

   a {
     display: block;
     margin: 0.25em 0;
     text-decoration: none;
   }
 }
</style>

<div class="wrapper">
  <footer class="footer">
    <div class="ensignia">
      <CobaltSm />
    </div>
    <nav>
      <a href="/docs">Docs</a>
      <a href="/editor">Editor</a>
      <a href="https://github.com/drwpow/cobalt-ui">GitHub</a>
    </nav>
  </footer>
</div>
