---
import CobaltSm from './CobaltSm.astro';
---

<style lang="scss">
  @use "../../tokens" as *;

 .footer {
   border-top: 1px solid $color__white;
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   grid-gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 6rem;
   padding-top: 2rem;
 }

 nav {
   display: grid;
   grid-gap: 1.5rem;
   margin-left: auto;
 }
</style>

<div class="wrapper">
  <footer class="footer">
    <div class="ensignia">
      <CobaltSm />
    </div>
    <nav>
      <a href="/docs">Documentation</a>
      <a href="https://github.com/drwpow/cobalt-ui">GitHub</a>
    </nav>
  </footer>
</div>
