---
const { title = "Cobalt" } = Astro.props;
---
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/app.scss')}>
<title>{title}</title>
