---
import "@terrazzo/tokens/dist/index.css";
import "@terrazzo/fonts/fragment-mono.css";
import "@terrazzo/fonts/instrument-sans.css";
import "../styles/app.css";

const { title, description, socialImage } = Astro.props;
---

<meta charset="UTF-8" />
<title>
  {
    title
      ? `${title} ◆ Terrazzo`
      : `Terrazzo: tools for token management and code generation`
  }
</title>
<link rel="icon" href="/favicon.svg" />
<meta name="description" content={description} />
{socialImage && <meta name="og:image" content={socialImage} />}
