---
import CobaltSm from './CobaltSm.astro';
import Icons from './Icons.astro';
let currentPage = Astro.request.url.pathname;
let { title = 'Cobalt' } = Astro.props;
---

<style lang="scss">
  @use "../../tokens" as *;

  .grid {
    display: flex;
    height: token('space.layout.lg');
    padding-left: token('space.lg');
  }

  .title {
    align-items: center;
    align-self: center;
    color: currentColor;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 0.75rem;
    text-decoration: none;
  }

  h1 {
    font-size: 18pt;
    font-weight: 500;
    margin: 0;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .a {
    align-items: center;
    border-top: 3px solid transparent;
    display: flex;
    justify-content: center;
    margin-left: token('space.2xs');
    margin-right: token('space.2xs');
    text-decoration: none;
    width: token('space.layout.md');

    &[aria-current] {
      border-top-color: currentColor;
    }

    &--github {
      border: none;
    }
  }

  .github-icon {
    height: 1.25em;
    width: 1.25em;
  }

  body.page--home {
    .grid {
      background: token("color.blue.05");
    }

    .title,
    .a {
      color: token("color.white");
    }
  }
</style>

<Icons />
<header class="grid">
  <a class="title" href="/">
    <CobaltSm />
    <h1>{title}</h1>
  </a>
  <nav class="nav">
    <a class="a" href="/docs/getting-started" aria-current={currentPage === '/' || currentPage.startsWith('/docs') || undefined}>Docs</a>
    <a class="a" href="/editor" aria-current={currentPage === '/editor' || undefined}>Editor</a>
    <a class="a a--github" href="https://github.com/drwpow/cobalt-ui">
      <svg class="github-icon"><use xlink:href="#github"></use></svg>
    </a>
  </nav>
</header>
