---
import Icons from './Icons.astro';
let currentPage = Astro.request.url.pathname;
---

<style lang="scss">
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }

  a {
    color: white;
    padding: 1rem;
  }

  .github {
    display: inline-block;
    padding: 0.75rem 1rem;
  }

  .github-icon {
    height: 1.5em;
    width: 1.5em;
    vertical-align: 25%;
  }
</style>

<Icons />
<nav>
  <a href="/" aria-current={currentPage === '/' ? 'page' : undefined}>Introduction</a>
  <a href="/editor" aria-current={currentPage === '/editor' ? 'page' : undefined}>Editor</a>
  <a href="/docs" aria-current={currentPage === '/docs' ? 'page' : undefined}>Documentation</a>
  <a class="github" href="https://github.com/drwpow/cobalt-ui">
    <svg class="github-icon"><use xlink:href="#github"></use></svg>
  </a>
</nav>
