---
import CobaltSm from './CobaltSm.astro';
import Icons from './Icons.astro';
let currentPage = Astro.request.url.pathname;
let { title = 'Cobalt' } = Astro.props;
---

<style lang="scss">
  @use "../../tokens" as *;

  .grid {
    display: flex;
    padding-left: 2rem;
    padding-right: 1.5rem;
  }

  .title {
    align-items: center;
    color: currentColor;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 1rem;
    padding-top: 2rem;
    text-decoration: none;
  }

  h1 {
    font-size: 18pt;
    font-weight: 500;
    margin: 0;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .a {
    border-top: 3px solid transparent;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem 0;
    text-decoration: none;

    &[aria-current] {
      border-top-color: currentColor;
    }

    &--github {
      display: inline-block;
      padding: 1.375rem 0 0;
    }
  }

  .github-icon {
    height: 1.25em;
    width: 1.25em;
  }

  body.top-blue {
    .title,
    .a {
      color: $color__White;
    }
  }
</style>

<Icons />
<header class="grid">
  <a class="title" href="/">
    <CobaltSm />
    <h1>{title}</h1>
  </a>
  <nav class="nav">
    <a class="a" href="/" aria-current={currentPage === '/' || currentPage.startsWith('/docs') || undefined}>Docs</a>
    <a class="a" href="/editor" aria-current={currentPage === '/editor' || undefined}>Editor</a>
    <a class="a a--github" href="https://github.com/drwpow/cobalt-ui">
      <svg class="github-icon"><use xlink:href="#github"></use></svg>
    </a>
  </nav>
</header>
