<style lang="scss">
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }

  a {
    color: white;
    padding: 1em;
  }
</style>

<nav>
  <a href="/">What is Cobalt</a>
  <a href="/">Editor</a>
  <a href="/">Documentation</a>
</nav>
