---
let currentPage = Astro.request.url.pathname;
---

<style lang="scss">
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }

  a {
    color: white;
    padding: 1em;
  }
</style>

<nav>
  <a href="/" aria-current={currentPage === '/' ? 'page' : undefined}>What is Cobalt</a>
  <a href="/editor" aria-current={currentPage === '/editor' ? 'page' : undefined}>Editor</a>
  <a href="/docs" aria-current={currentPage === '/docs' ? 'page' : undefined}>Documentation</a>
</nav>
