.ais-Hits {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ais-Hits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tz-searchbox-link {
  border-bottom: 1px solid var(--tz-color-content-border);
  display: flex;
  flex-direction: column;
  padding: var(--tz-space-300);
  text-decoration: none;
}

.tz-searchbox-result-title {
  color: var(--tz-color-content-text);
  display: block;
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-body-strong-font-size);
  font-variation-settings: var(--tz-font-body-strong-font-variation-settings);
  font-weight: var(--tz-font-body-strong-font-weight);
  letter-spacing: var(--tz-font-body-strong-letter-spacing);
  line-height: var(--tz-font-body-strong-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.tz-searchbox-result-desc {
  color: var(--tz-color-content-text-aside);
  display: block;
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-label-small-font-size);
  font-weight: var(--tz-font-label-small-font-weight);
  letter-spacing: var(--tz-font-label-small-letter-spacing);
  line-height: var(--tz-font-label-small-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.tz-searchbox-result-overflow {
  display: block;
  overflow: hidden;
}

.tz-searchbox-result-pair {
  align-items: center;
  display: flex;
  gap: var(--tz-space-400);
}

.tz-searchbox-result-icon {
  color: var(--tz-color-content-text-aside);
  flex-grow: 0;
  flex-shrink: 0;
}

/* Overrides */

.tz-omnibar {
  display: flex;
  height: var(--grid-size);
  width: calc(2 * var(--grid-size));

  @media (width >= 750px) {
    width: calc(4 * var(--grid-size));
  }
}

.tz-omnibar:focus-within {
  left: 0;
  position: absolute;
  top: 0;
  width: calc(5 * var(--grid-size));

  @media (width >= 750px) {
    position: relative;
    width: calc(7 * var(--grid-size));
  }
}

.tz-omnibar-inputwrap {
  height: 100%;
  width: 100%;
}

.tz-omnibar-inputwrap .tz-kbd {
  margin-inline-end: 0.5rem;
}

.tz-omnibar-input {
  border-block-start: none;
  border-block-end: 1px solid var(--grid-color);
  border-inline-end: 1px solid var(--grid-color);
  border-inline-start: none;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  padding-inline-end: var(--grid-size);
  width: 100%;
}

.tz-omnibar-input:focus {
  width: 100%;
}

.tz-omnibar-listboxwrapper {
  border: 1px solid var(--grid-color);
  border-radius: 0;
  left: 0;
  padding-top: var(--tz-space-200);
  right: 0;
  top: var(--grid-size);
}
