.ais-Hits {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ais-Hits-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tz-searchbox-link {
  border-bottom: 1px solid var(--tz-color-content-border);
  display: flex;
  flex-direction: column;
  padding: var(--tz-space-300);
  text-decoration: none;
}

.tz-searchbox-result-title {
  color: var(--tz-color-content-text);
  display: block;
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-body-strong-font-size);
  font-variation-settings: var(--tz-font-body-strong-font-variation-settings);
  font-weight: var(--tz-font-body-strong-font-weight);
  letter-spacing: var(--tz-font-body-strong-letter-spacing);
  line-height: var(--tz-font-body-strong-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.tz-searchbox-result-desc {
  color: var(--tz-color-content-text-aside);
  display: block;
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-label-small-font-size);
  font-weight: var(--tz-font-label-small-font-weight);
  letter-spacing: var(--tz-font-label-small-letter-spacing);
  line-height: var(--tz-font-label-small-line-height);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.tz-searchbox-result-overflow {
  display: block;
  overflow: hidden;
}

.tz-searchbox-result-pair {
  align-items: center;
  display: flex;
  gap: var(--tz-space-400);
}

.tz-searchbox-result-icon {
  color: var(--tz-color-content-text-aside);
  flex-grow: 0;
  flex-shrink: 0;
}
