$black: #1b1f24;
$blue_0: #ddf4ff;
$blue_1: #b6e3ff;
$blue_2: #80ccff;
$blue_3: #54aeff;
$blue_4: #218bff;
$blue_5: #0969da;
$blue_6: #0550ae;
$blue_7: #033d8b;
$blue_8: #0a3069;
$blue_9: #002155;
$coral_0: #FFF0EB;
$coral_1: #FFD6CC;
$coral_2: #FFB4A1;
$coral_3: #FD8C73;
$coral_4: #EC6547;
$coral_5: #C4432B;
$coral_6: #9E2F1C;
$coral_7: #801F0F;
$coral_8: #691105;
$coral_9: #510901;
$gray_0: #f6f8fa;
$gray_1: #eaeef2;
$gray_2: #d0d7de;
$gray_3: #afb8c1;
$gray_4: #8c959f;
$gray_5: #6e7781;
$gray_6: #57606a;
$gray_7: #424a53;
$gray_8: #32383f;
$gray_9: #24292f;
$green_0: #dafbe1;
$green_1: #aceebb;
$green_2: #6fdd8b;
$green_3: #4ac26b;
$green_4: #2da44e;
$green_5: #1a7f37;
$green_6: #116329;
$green_7: #044f1e;
$green_8: #003d16;
$green_9: #002d11;
$orange_0: #fff1e5;
$orange_1: #ffd8b5;
$orange_2: #ffb77c;
$orange_3: #fb8f44;
$orange_4: #e16f24;
$orange_5: #bc4c00;
$orange_6: #953800;
$orange_7: #762c00;
$orange_8: #5c2200;
$orange_9: #471700;
$pink_0: #ffeff7;
$pink_1: #ffd3eb;
$pink_2: #ffadda;
$pink_3: #ff80c8;
$pink_4: #e85aad;
$pink_5: #bf3989;
$pink_6: #99286e;
$pink_7: #772057;
$pink_8: #611347;
$pink_9: #4d0336;
$purple_0: #fbefff;
$purple_1: #ecd8ff;
$purple_2: #d8b9ff;
$purple_3: #c297ff;
$purple_4: #a475f9;
$purple_5: #8250df;
$purple_6: #6639ba;
$purple_7: #512a97;
$purple_8: #3e1f79;
$purple_9: #2e1461;
$red_0: #FFEBE9;
$red_1: #ffcecb;
$red_2: #ffaba8;
$red_3: #ff8182;
$red_4: #fa4549;
$red_5: #cf222e;
$red_6: #a40e26;
$red_7: #82071e;
$red_8: #660018;
$red_9: #4c0014;
$yellow_0: #fff8c5;
$yellow_1: #fae17d;
$yellow_2: #eac54f;
$yellow_3: #d4a72c;
$yellow_4: #bf8700;
$yellow_5: #9a6700;
$yellow_6: #7d4e00;
$yellow_7: #633c01;
$yellow_8: #4d2d00;
$yellow_9: #3b2300;
$white: #ffffff;