.tz-subtle-input {
  --tz-subtle-input-text: var(--tz-color-control-text);
  --tz-subtle-input-border: transparent;

  background-color: transparent;
  border-radius: var(--tz-radius-200);
  color: var(--tz-subtle-input-text);
  display: flex;
  font-family: var(--tz-typography-family-mono);
  font-size: var(--tz-typography-200-regular-font-size);
  font-weight: var(--tz-typography-200-regular-font-weight);
  gap: var(--tz-space-200);
  letter-spacing: 0;
  outline: 1px solid var(--tz-subtle-input-border);
  position: relative;

  &:hover {
    --tz-subtle-input-border: var(--tz-color-control-border);
  }

  &:focus-within {
    --tz-subtle-input-border: var(--tz-color-control-border-focus);
  }
}

.tz-subtle-input-field {
  --height: var(--tz-space-control-m);

  -moz-appearance: textfield;
  background: none;
  border: none;
  color: inherit;
  flex: 1 0 auto;
  font-family: var(--tz-typography-family-mono);
  font-size: var(--tz-typography-200-regular-font-size);
  font-variant-ligatures: none;
  font-weight: var(--tz-typography-200-regular-font-weight);
  line-height: var(--height);
  min-width: calc(4 * var(--height));
  outline: none;
  padding: 0;
  text-indent: var(--tz-space-200);

  &[type="number"] {
    text-align: right;
    text-indent: 0;
  }
}

.tz-subtle-input-field[type="number"]::-webkit-inner-spin-button,
.tz-subtle-input-field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.tz-subtle-input-suffix {
  align-self: center;
  pointer-events: none;

  &:empty {
    display: none;
  }
}
