---
import DocsPagination from '../components/DocsPagination.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import SkipToMain from '../components/SkipToMain.astro';
import Token from '../components/Token.astro';

import packageJSON from '../../../packages/cli/package.json';

const version = packageJSON.version;
const tokenTypes = ['color', 'color', 'fontFamily', 'fontFamily', 'fontWeight', 'fontWeight', 'dimension', 'duration', 'link', 'cubic-bezier', 'shadow', 'border', 'stroke-style', 'transition', 'empty', 'empty', 'empty', 'empty', 'empty'];
---

<!DOCTYPE html>
<html>
  <head>
    <Head title="Cobalt" />
    <style lang="scss">
      @use '../../tokens' as *;

      .header {
        --ui-bg: #{token('color.blue.50')};

        align-items: center;
        background: token('color.blue.50');
        box-sizing: border-box;
        color: token('color.white');
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
        transform: translateZ(0);

        @media (min-width: 600px) {
          height: calc(100vh - #{token('space.layout.lg')});
          justify-content: flex-end;
          max-height: 60em;
          padding-bottom: 0;
          padding-bottom: 12.5%;
          padding-top: 0;
        }
      }

      .header-text {
        position: relative;
        z-index: 10;
      }

      .features {
        font-size: token('font.size.05');
        margin-bottom: token('space.layout.sm');
        margin-top: token('space.layout.sm');
        text-align: left;
        line-height: 1.8;
      }

      .title {
        font-size: 36px;
        font-weight: 550;
        margin: 0;

        @media (min-width: 600px) {
          font-size: 64pt;
        }
      }

      .tokens {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        justify-content: flex-start;
        left: 0;
        overflow: hidden;
        padding-top: 1.25rem;
        pointer-events: none;
        position: absolute;
        transform: translateZ(0);
        top: 0;
        width: 100%;

        &::after {
          background: linear-gradient(transparent, #{token('color.blue.50')});
          content: '';
          height: 100%;
          left: 0;
          bottom: 0;
          pointer-events: none;
          position: absolute;
          width: 100%;
        }
      }
    </style>
  </head>
  <body class="page--home">
    <SkipToMain />
    <Nav />
    <div>
      <header class="header tac">
        <div class="tokens">
          {[...new Array(1200)].map(() => <Token type={tokenTypes[Math.floor(Math.random() * tokenTypes.length)]} />)}
        </div>
        <div class="header-text">
          <h1 class="title">W3C Design Tokens, Anywhere</h1>
          <div class="features">• Generate JS, TS, Sass, CSS, and more<br />• Sync with Figma<br />• Use in CI</div>
          <a class="btn" href="/docs/getting-started">Get Started</a>
        </div>
      </header>
    </div>
    <div class="wrapper">
      <DocsPagination />
    </div>
    <Footer />
  </body>
</html>
