<style lang="scss">
  @use '../../tokens' as *;

  .box {
    --size: 1.625rem;
    align-items: flex-end;
    background-color: token('color.blue.50');
    color: token('color.white');
    display: flex;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.8;
    height: var(--size);
    justify-content: flex-end;
    padding: 0.25rem;
    width: var(--size);
  }
</style>

<div class="box">Co</div>
