<style lang="scss">
  @use "../../tokens" as *;

  .box {
    align-items: flex-end;
    border: 5px solid currentColor;
    display: flex;
    font-size: 48px;
    font-weight: 500;
    height: 4.5em;
    justify-content: flex-end;
    line-height: 0.8;
    padding: 0.2em;
    width: 4.5em;
  }
</style>

<div class="box">
  Cobalt
</div>
