---
import manifest from '../docs-manifest.json';

const subPageRE = /^\/docs\/[^/]+\//;
const docsSection = Astro.url.pathname.split('/').slice(0, 3).join('/');

function showSubPage(url) {
  if (subPageRE.test(url)) {
    if (Astro.url.pathname === '/') return false;
    return docsSection && url.startsWith(docsSection);
  }
  return true;
}
---

<style lang="scss">
  @use '../../tokens' as *;

  .nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    font-size: token('font.size.04');
    margin-bottom: token('space.md');
    max-height: calc(100vh - #{token('space.layout.sm')});
    min-width: token('space.layout.2xl');
    padding-bottom: token('space.md');

    @media (min-width: 600px) {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      position: sticky;
      top: token('space.md');
    }
  }

  .a {
    align-items: center;
    color: var(--color-fg);
    display: flex;
    min-height: token('space.lg');
    padding-left: token('space.lg');
    position: relative;
    text-decoration: none;

    &[aria-current='page'] {
      color: var(--ui-action);
      font-weight: 550;
    }

    &-icon {
      margin-left: auto;
      height: 1em;
      width: 1em;
    }

    &--subpage {
      margin-left: token('space.md');

      &::before {
        left: -0.875rem;
      }
    }
  }

  body.top-blue {
    .a {
      color: token('color.white');
    }
  }
</style>

<nav class="nav">
  {
    manifest.pages.map(
      (page) =>
        (showSubPage(page.pathname) && (
          <a class={`a${subPageRE.test(page.pathname) ? ' a--subpage' : ''}`} href={page.pathname} aria-current={Astro.url.pathname === page.pathname ? 'page' : undefined}>
            {page.title}
          </a>
        )) ||
        undefined,
    )
  }
</nav>
