---
import CobaltSm from './CobaltSm.astro';
---

<style lang="scss">
  @use '../../tokens' as *;

  .footer {
    border-top: 1px solid currentColor;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 6rem;
    padding-top: 1.5rem;
  }

  .ensignia {
    align-items: center;
    align-self: flex-start;
    display: grid;
    font-size: token('font.size.05');
    font-weight: 500;
    grid-gap: token('space.sm');
    grid-template-columns: min-content min-content;
  }

  .license {
    font-size: token('font.size.04');
    margin-top: token('space.sm');
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 8rem;

    a {
      display: block;
      margin: 0.25em 0;
      text-decoration: none;
    }
  }
</style>

<div class="wrapper">
  <footer class="footer">
    <div class="info">
      <div class="ensignia">
        <CobaltSm />
        Cobalt
      </div>
      <div class="license">
        Cobalt is open source and is <a href="https://github.com/drwpow/cobalt-ui">MIT-Licensed</a>.
      </div>
    </div>
  </footer>
</div>
