---
import '../styles/app.scss';

const {title = 'Cobalt design tokens'} = Astro.props;
---

<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="shortcut icon" type="image/png" href="/favicon-32.png" />
<link rel="apple-touch-icon" type="image/png" sizes="128x128" href="/favicon-128.png" />
<link rel="apple-touch-icon" type="image/png" sizes="512x512" href="/favicon-512.png" />
<title>{title}</title>
<meta type="description" content="Cobalt is open-source tooling for the Design Tokens Format Module. Load your design tokens in any website or app using code. Support light and dark mode easily." />
