<style lang="scss">
  .skip {
    display: block;
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -999;

    &:focus,
    &:active {
      left: 8rem;
      top: 0;
      z-index: 100;
    }
  }
</style>

<a class="btn skip" href="#main">Skip to main content</a>
