---
const {type: tokenType} = Astro.props;
---

<div class={`token token--${tokenType}`}>
  {
    ['color', 'border', 'gradient', 'transition', 'shadow'].includes(tokenType) && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <svg class="token-fg">
        <use xlink:href="#hex" />
      </svg>,
    ]
  }
  {
    ['fontFamily', 'fontWeight', 'typography'].includes(tokenType) && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <div class="token-fg">Aa</div>,
    ]
  }
  {
    ['dimension', 'duration'].includes(tokenType) && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <div class="token-fg" />,
    ]
  }
  {
    tokenType === 'number' && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <div class="token-fg">
        <div class="token-fg-dot" />
        <div class="token-fg-dot" style="animation-delay: 50ms" />
        <div class="token-fg-dot" style="animation-delay: 100ms" />
        <div class="token-fg-dot" style="animation-delay: 50ms" />
        <div class="token-fg-dot" style="animation-delay: 100ms" />
        <div class="token-fg-dot" style="animation-delay: 150ms" />
        <div class="token-fg-dot" style="animation-delay: 100ms" />
        <div class="token-fg-dot" style="animation-delay: 150ms" />
        <div class="token-fg-dot" style="animation-delay: 200ms" />
      </div>,
    ]
  }
  {
    tokenType === 'link' && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <div class="token-fg">
        <div class="token-fg-dot-1" />
        <div class="token-fg-dot-2" />
        <div class="token-fg-dot-3" />
        <div class="token-fg-dot-4" />
      </div>,
    ]
  }
  {
    tokenType === 'cubic-bezier' && [
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>,
      <svg class="token-fg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M32,256c0-192,224-192,224,0s224,224,224,0" />
      </svg>,
    ]
  }
  {
    tokenType === 'stroke-style' && (
      <svg class="token-bg">
        <use xlink:href="#hex" />
      </svg>
    )
  }
</div>

<style lang="scss">
  @use 'sass:math';
  @use '../../tokens' as *;

  .token {
    color: token('color.ui.contrast.100');
    display: block;
    font-weight: 400;
    height: token('space.2xl');
    position: relative;
    transform: translate3d(0, -50%, 0);
    width: token('space.2xl');

    &-bg {
      height: 100%;
      fill: none;
      left: 50%;
      position: absolute;
      stroke: token('color.ui.contrast.100');
      stroke-width: 5;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
    }

    &-fg {
      --fg-size: 28px;
      align-items: center;
      display: flex;
      fill: token('color.ui.contrast.100');
      height: var(--fg-size);
      justify-content: center;
      left: 50%;
      position: absolute;
      stroke-width: 0;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: var(--fg-size);
      z-index: 2;
    }

    &--color,
    &--gradient {
      .token-bg {
        animation: kaleidoscope linear infinite 12s;
        fill: none !important;
      }

      .token-fg {
        animation: kaleidoscope linear infinite 12s;
      }
    }

    &--gradient {
      position: relative;

      &::before,
      &::after {
        animation: kaleidoscope linear infinite 12s;
        background-color: currentColor;
        color: rgb(100% 40.23% 63.07%);
        content: '';
        height: 16px;
        left: 45%;
        position: absolute;
        top: 39%;
        width: 15px;
        z-index: 20;
      }

      &::before {
        animation-delay: 4s;
        transform: translateX(-74%) rotateX(42deg) rotateY(42deg);
      }

      &::after {
        animation-delay: 8s;
        transform: rotateX(42deg) rotateY(-42deg);
      }
    }

    &--fontFamily,
    &--fontWeight,
    &--typography {
      .token-fg {
        animation: embolden token('ease.linear') infinite 2s;
        font-size: 19px !important;
        font-weight: 400;
        letter-spacing: -0.0125em;
      }
    }

    &--dimension {
      .token-fg {
        animation: piston token('ease.outCubic') infinite 2s;
        background: token('color.ui.contrast.100');
        height: 2px;
        width: token('space.md');

        &::before,
        &::after {
          background: token('color.ui.contrast.100');
          content: '';
          display: block;
          position: absolute;
          transform: rotate(90deg);
          left: -6px;
          height: 2px;
          width: 12px;
        }

        &::after {
          left: auto;
          right: -6px;
        }
      }
    }

    &--duration {
      $l: calc(0.5 * var(--fg-size)); // hex is space.md; base it off that but take away a little

      .token-fg {
        animation: tickTock token('ease.outCubic') infinite 4s;
        background-color: token('color.ui.contrast.100');
        transform-origin: 50% 100%;
        top: calc(50% - #{$l});
        left: calc(50% - 1px);
        height: $l;
        width: 2px;
      }
    }

    &--number {
      .token-fg {
        display: grid;
        gap: 0.0625rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        padding: 0.25rem;

        &-dot {
          --size: 0.25rem;
          animation: shrink token('ease.inOutCirc') infinite 2s;
          background-color: currentColor;
          border-radius: 50%;
          height: var(--size);
          width: var(--size);
        }
      }
    }

    &--cubic-bezier {
      .token-fg {
        animation: flip token('ease.inOutCirc') infinite 2s;
        fill: none;
        height: token('space.lg');
        stroke: token('color.ui.contrast.100');
        stroke-width: 32;
        width: token('space.lg');
      }
    }

    &--link {
      .token-fg {
        &-dot-1,
        &-dot-2,
        &-dot-3,
        &-dot-4 {
          --size: #{math.div(10rem, 32)};
          animation: spin token('ease.inOutCubic') infinite 2s;
          background-color: currentColor;
          border-radius: 50%;
          height: var(--size);
          left: 50%;
          margin-left: calc(-0.5 * var(--size));
          margin-top: calc(-0.5 * var(--size));
          position: absolute;
          top: 50%;
          transform: translate3d(-50%, -1rem, 0);
          width: var(--size);
        }

        &-dot-2 {
          --size: #{math.div(9rem, 32)};
          animation-delay: 50ms;
        }
        &-dot-3 {
          --size: #{math.div(8rem, 32)};
          animation-delay: 100ms;
        }
        &-dot-4 {
          --size: #{math.div(7rem, 32)};
          animation-delay: 150ms;
        }
      }
    }

    &--stroke-style {
      .token-bg {
        animation: dashify token('ease.inOutCubic') infinite 2s;
      }
    }

    &--border {
      .token-fg {
        animation: ping token('ease.outCubic') infinite 1s;
        fill: none;
        height: token('space.2xl');
        stroke: token('color.ui.contrast.100');
        stroke-width: 8;
        transform: translate3d(-50%, -50%, 0);
        width: token('space.2xl');
      }
    }

    &--transition {
      .token-fg {
        animation: morph token('ease.outCubic') infinite 2s;
      }
    }

    &--shadow {
      &::after {
        animation: hoverShadow token('ease.inOutCirc') infinite 2s;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        content: '';
        display: block;
        filter: blur(12px);
        height: token('space.xl');
        left: 50%;
        pointer-events: none;
        position: absolute !important;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: token('space.xl');
      }

      .token-bg {
        display: none;
      }

      .token-fg {
        animation: hoverItem token('ease.inOutCirc') infinite 2s;
        fill: var(--ui-fg);
        position: relative;
        z-index: 10;
      }
    }
  }

  @keyframes embolden {
    0%,
    100% {
      font-weight: 1;
    }
    50% {
      font-weight: 999;
    }
  }

  // lch: lightness 65%, chroma 100%
  @keyframes kaleidoscope {
    0%,
    100% {
      color: rgb(100% 40.23% 63.07%);
      fill: rgb(100% 40.23% 63.07%);
      stroke: rgb(100% 40.23% 63.07%);
    }
    8.3333% {
      color: rgb(100% 42.75% 40.59%);
      fill: rgb(100% 42.75% 40.59%);
      stroke: rgb(100% 42.75% 40.59%);
    }
    16.6666% {
      color: rgb(94.33% 48.8% 0%);
      fill: rgb(94.33% 48.8% 0%);
      stroke: rgb(94.33% 48.8% 0%);
    }
    25% {
      color: rgb(70.79% 61.17% 0%);
      fill: rgb(70.79% 61.17% 0%);
      stroke: rgb(70.79% 61.17% 0%);
    }
    33.3333% {
      color: rgb(43.78% 68.36% 0%);
      fill: rgb(43.78% 68.36% 0%);
      stroke: rgb(43.78% 68.36% 0%);
    }
    41.6666% {
      color: rgb(0% 71.18% 37.75%);
      fill: rgb(0% 71.18% 37.75%);
      stroke: rgb(0% 71.18% 37.75%);
    }
    50% {
      color: rgb(0% 69.92% 61.19%);
      fill: rgb(0% 69.92% 61.19%);
      stroke: rgb(0% 69.92% 61.19%);
    }
    58.3333% {
      color: rgb(0% 68.75% 75.24%);
      fill: rgb(0% 68.75% 75.24%);
      stroke: rgb(0% 68.75% 75.24%);
    }
    66.6666% {
      color: rgb(0% 67.23% 89.25%);
      fill: rgb(0% 67.23% 89.25%);
      stroke: rgb(0% 67.23% 89.25%);
    }
    75% {
      color: rgb(36.59% 63.12% 100%);
      fill: rgb(36.59% 63.12% 100%);
      stroke: rgb(36.59% 63.12% 100%);
    }
    83.3333% {
      color: rgb(67.39% 54.94% 100%);
      fill: rgb(67.39% 54.94% 100%);
      stroke: rgb(67.39% 54.94% 100%);
    }
    91.6666% {
      color: rgb(100% 33.43% 93.85%);
      fill: rgb(100% 33.43% 93.85%);
      stroke: rgb(100% 33.43% 93.85%);
    }
  }

  @keyframes piston {
    0%,
    40%,
    100% {
      width: 0;
    }

    50%,
    90% {
      width: 18px;
    }
  }

  @keyframes tickTock {
    0%,
    20% {
      transform: rotate(0deg);
    }
    25%,
    45% {
      transform: rotate(90deg);
    }
    50%,
    70% {
      transform: rotate(180deg);
    }
    75%,
    95% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes hoverItem {
    0%,
    100% {
      transform: translate3d(-50%, -50%, 0);
    }
    50% {
      transform: translate3d(-50%, -150%, 0);
    }
  }

  @keyframes flip {
    0% {
      transform: translate3d(-50%, -50%, 0) rotateX(0deg);
    }
    50% {
      transform: translate3d(-50%, -50%, 0) rotateX(180deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotateX(360deg);
    }
  }

  @keyframes morph {
    0%,
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(0.375);
    }
    50% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg) scale(1);
    }
  }

  @keyframes hoverShadow {
    0%,
    100% {
      filter: blur(5px);
      transform: translate3d(-50%, -37.5%, 0);
    }
    50% {
      filter: blur(16px);
      transform: translate3d(-50%, -25%, 0);
    }
  }

  @keyframes shrink {
    0%,
    100% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg) translate3d(0, -0.375rem, 0);
    }
    100% {
      transform: rotate(1080deg) translate3d(0, -0.375rem, 0);
    }
  }

  @keyframes ping {
    0% {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
    // note: ending the animation a few frames early at 95% prevents a Firefox animation bug
    95% {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0) scale(2);
    }
    100% {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  @keyframes dashify {
    0%,
    100% {
      stroke-dasharray: 28;
      stroke-dashoffset: 28;
    }
    50% {
      stroke-dasharray: 6;
      stroke-dashoffset: 5;
    }
  }
</style>
