// -----------------
//  Cobalt
// -----------------

// -----------------
//  Color
// -----------------

$color__blue: #2B3FAA;
$color__white: #FFFFFF;
// -----------------
//  Typography
// -----------------

$type__family__suisse_intl: Suisse Intl;