@use "sass:map";

// -----------------
//  Cobalt
// -----------------

// -----------------
//  Color
// -----------------

$color__black: #00193F;
$color__dark_gray: #282A37;
$color__blue: #2B3FAA;
$color__green: #77EA6E;
$color__red: #D0323A;
$color__white: #FFFFFF;
// -----------------
//  Typography
// -----------------

$type__family__neue_montreal: Neue Montreal;
$-cobalt_token_modes: (
  $color__black: (
    light: #00193F,
  ),
  $color__dark_gray: (
    light: #282A37,
  ),
  $color__blue: (
    light: #2B3FAA,
  ),
  $color__green: (
    light: #77EA6E,
  ),
  $color__red: (
    light: #D0323A,
  ),
  $color__white: (
    light: #FFFFFF,
  ),
);

@function mode($token, $modeName) {
  $mode: map.get($-cobalt_token_modes, $token);
  @return map.get($mode, $modeName);
}