.multipleGroups {
  padding: 1.5rem;
}

.group {
  margin-block: 1.5rem;
  padding-inline: 1.5rem;
}

.groupTitle {
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-heading4-font-size);
  font-variation-settings: var(--tz-font-heading4-font-variation-settings);
  font-weight: var(--tz-font-heading4-font-weight);
  letter-spacing: var(--tz-font-heading4-letter-spacing);
  line-height: var(--tz-font-heading4-line-height);
}

.tokenGrid {
  border-collapse: collapse;
  border-left: var(--tz-border-3);
  border-top: var(--tz-border-3);
  text-align: left;
  width: 100%;
}

.colheader {
  border-bottom: var(--tz-border-3);
  border-right: var(--tz-border-3);
  font-family: var(--tz-font-sans);
  font-size: var(--tz-font-body-strong-font-size);
  font-variation-settings: var(--tz-font-body-strong-font-variation-settings);
  font-weight: var(--tz-font-body-strong-font-weight);
  letter-spacing: var(--tz-font-body-strong-letter-spacing);
  line-height: var(--tz-font-body-strong-line-height);
  padding: 0.5rem;
}
