.tz-omnibar {
  margin: 0;
  padding: 0;
  position: relative;
  width: min-content;
  z-index: var(--tz-layer-base);

  &[data-expanded="true"] {
    z-index: var(--tz-layer-menu);
  }
}

.tz-omnibar-input {
  --tz-omnibar-input-bg: var(--tz-color-bg-1);
  --tz-omnibar-input-border: var(--tz-color-border-3);
  --tz-omnibar-input-text: var(--tz-color-text-1);

  background-color: var(--tz-omnibar-input-bg);
  border: 1px solid var(--tz-omnibar-input-border);
  border-radius: var(--tz-radius-200);
  color: var(--tz-omnibar-input-text);
  font-family: var(--tz-typography-200-regular-font-family);
  font-size: var(--tz-typography-200-regular-font-size);
  font-weight: var(--tz-typography-200-regular-font-weight);
  height: 2rem;
  letter-spacing: var(--tz-typography-200-regular-letter-spacing);
  line-height: 1;
  min-width: 5rem;
  outline: none;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 2rem;
  padding-inline-start: 0;
  text-indent: var(--tz-space-200);
  transition: width var(--tz-timing-moderate) var(--tz-ease-quint-out);
  width: 8rem;
  will-change: width;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &:focus {
    --tz-omnibar-input-border: var(--tz-color-border-2);

    width: 20rem;
  }
}

.tz-omnibar-inputwrap {
  align-items: center;
  display: flex;
  position: relative;
  z-index: calc(var(--tz-layer-base) + 5);

  .tz-kbd {
    pointer-events: none;
    position: absolute;
    right: var(--tz-space-100);
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 5;
  }
}

.tz-omnibar-listbox {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.tz-omnibar-listboxwrapper {
  --padding: var(--tz-space-300);

  background-color: var(--tz-color-bg-1);
  border: var(--border-2);
  border-radius: var(--tz-radius-300);
  box-shadow: var(--tz-shadow-300);
  display: flex;
  flex-direction: column;
  left: calc(-1 * var(--padding));
  padding-block-end: 0;
  padding-block-start: calc(var(--padding) + var(--tz-space-control-m) + var(--padding));
  padding-inline: 0;
  position: absolute;
  right: calc(-1 * var(--padding));
  top: calc(-1 * var(--padding));
  transform: translateZ(0);
  z-index: 5;
}

.tz-omnibar-result {
  cursor: pointer;
  list-style: none;
  margin: 0;

  &[aria-selected="true"],
  &:hover,
  &:focus-within {
    background-color: var(--tz-color-base-lime-800);
    color: var(--tz-color-base-lime-200);
  }
}

.tz-omnibar-resultdesc {
  border-bottom: 1px solid var(--tz-color-content-border);
  color: var(--tz-text-secondary);
  font-family: var(--tz-typography-100-regular-font-family);
  font-size: var(--tz-typography-100-regular-font-size);
  font-style: var(--tz-typography-100-regular-font-style);
  font-weight: var(--tz-typography-100-regular-font-weight);
  letter-spacing: var(--tz-typography-100-regular-letter-spacing);
  line-height: var(--tz-typography-100-regular-line-height);
  padding-block-end: var(--tz-space-200);
  padding-inline: var(--tz-space-300);
}
