@use '../../tokens' as *;
@use '../../tokens/tokens.css';

html,
body {
  margin: 0;
  min-height: 100vh;
}

html {
  background-color: token('color.blue.50');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: token('color.ui.contrast.0');
  color: token('color.ui.contrast.100');
  font-family: 'Neue Montreal', -system-ui, 'Helvetica', sans-serif;
  line-height: 1;
}

a,
button,
[tabindex] {
  outline: 2px solid transparent;

  &:focus-visible {
    outline-color: token('color.blue.60');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: token('space.layout.md');
  margin-bottom: token('space.layout.sm');

  &:first-child {
    margin-top: 0;
  }
}

h4,
h5,
h6 {
  margin-top: token('space.layout.sm');
}

h1 {
  font-size: token('font.size.08');
  font-weight: 500;
}

h2 {
  font-size: token('font.size.07');
  font-weight: 500;
}

h3 {
  font-size: token('font.size.06');
  font-weight: 575;
}

h4 {
  font-size: token('font.size.05');
  font-weight: 550;
}

h5,
h6 {
  font-size: token('font.size.04');
  font-weight: 550;
}

em,
i {
  font-variation-settings: 'ital' 900;
  font-style: normal;
}

a {
  color: token('color.ui.action');
}

p {
  line-height: 1.8;
  margin-bottom: token('space.md');
  margin-top: token('space.md');
  max-width: 48em;
}

menu {
  margin: 0;
  padding: 0;
}

fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  appearance: none;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
}

figure {
  margin: 0;
}

input {
  min-width: 0;
}

b,
strong {
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  text-decoration: inherit;
}

pre,
code {
  font-family: token('font.family.mono');
  font-variant: tabular-nums lining-nums;
}

pre {
  font-size: token('font.size.04');
}

code {
  li &,
  p & {
    font-weight: 500;
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 &,
  li &,
  p & {
    font-size: 0.875em;
  }

  a & {
    text-decoration: none;
  }
}
