@use '../../tokens' as *;

.btn {
  align-items: center;
  background-color: token('color.white');
  border: 3px solid token('color.blue.50');
  border-radius: 0.5em;
  color: token('color.blue.50');
  display: inline-flex;
  gap: 0.375em;
  font-size: 1rem;
  font-weight: 500;
  outline: 2px solid rgba(token('color.white'), 0);
  padding: 0.75em 1em;
  text-decoration: none;
  transition: outline 150ms linear;

  &:focus {
    outline: 2px solid token('color.white');
  }

  &--icon {
    padding-right: 0.75em;

    svg {
      display: inline-block;
      height: 0.875em;
      margin-left: 0.375em;
      vertical-align: -6.25%;
      width: 0.875em;
    }
  }
}
