@use 'sass:color';
@use '../../tokens' as *;

.md-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
  }

  h1 {
    letter-spacing: -0.0125em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    line-height: 1.8;
    margin-bottom: token('space.md');
    margin-top: token('space.md');
    max-width: 48em;
  }

  ul,
  ol {
    line-height: 1.5;
    margin-bottom: token('space.md');
    margin-top: token('space.md');
    padding-left: token('space.md');

    @media (min-width: 600px) {
      padding-left: 0;
    }

    ul {
      margin: 0;
      padding-left: token('space.md');
    }
  }

  ul li {
    list-style: square;

    @media (min-width: 600px) {
      margin-left: -#{token('space.xs')};
      padding-left: token('space.xs');
    }
  }

  li {
    margin-bottom: token('space.2xs');
    margin-top: token('space.2xs');

    p:first-of-type {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  code {
    border-radius: token('space.3xs');
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  figure {
    background: rgba(token('color.black'), 0.05);
    margin: 2.5rem 0;
    padding: 1.5rem;
  }

  figcaption {
    font-size: 0.75em;
    margin: 0;
    padding: 1.5rem 0 0;
  }

  pre {
    background: token('color.blue.30');
    border-radius: token('space.3xs');
    color: token('color.white');
    line-height: 1.4;
    margin: token('space.md') 0;
    max-width: 100%;
    overflow-x: scroll;
    padding: token('space.lg');
    width: 100%;

    code {
      background: none;
      font-size: inherit;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: token('font.size.04');
    width: 100%;

    code {
      font-weight: 500;
    }
  }

  th,
  td {
    line-height: 1.5;
    padding: token('space.xs') token('space.sm');
    text-align: left;
    vertical-align: top;

    &:last-of-type {
      border-right-width: 1px;
    }
  }

  th {
    font-size: token('font.size.04');
    font-weight: 600;
    border-bottom: 2px solid currentColor;
  }

  td {
    border-bottom: 1px solid rgba(black, 0.2);
  }

  tr {
    &:last-child td {
      border-bottom: none;
    }

    td:first-child,
    th:first-child {
      padding-left: 0;
    }
  }
}
