---
import HeadMeta from '../components/head-meta.astro';

const { title, description, socialImage } = Astro.props;
---

<html>
  <head>
    <HeadMeta
      title={title}
      description={description}
      socialImage={socialImage}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
