---
import DocsFooterNav from '../components/docs-footer-nav.astro';
import DocsHeaderNav from '../components/docs-header-nav.astro';
import DocsSidenav from '../components/docs-sidenav.astro';
import HeadMeta from '../components/head-meta.astro';
import '../styles/docs.css';

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <HeadMeta title={frontmatter.title} description={frontmatter.description} />
    <script is:inline>
      const LS_THEME_KEY = "tz-www-theme";
      const initialValue =
        typeof localStorage !== "undefined"
          ? localStorage.getItem(LS_THEME_KEY)
          : undefined;
      if (initialValue === "light" || initialValue === "dark") {
        document.documentElement.setAttribute("data-color-mode", initialValue);
      }
    </script>
    <style>
      .docs {
        --sidebar-width: calc(5 * (var(--grid-size)));

        display: flex;
        flex-direction: column;;
      }

      .docs-header-nav {
        grid-area: header-nav;

        @media (width >= 900px) {
          position: fixed;
          top: 0;
          z-index: var(--tz-layer-nav);
          width: 100%;
        }
      }

      .docs-sidenav {
        background-color: var(--tz-color-bg-1);
        border-block-end: 1px solid var(--grid-color);
        display: flex;

        @media (width >= 750px) {
          border-block-end: none;
        }

        @media (width >= 900px) {
          height: 100vh;
          left: 0;
          overflow-y: auto;
          position: fixed;
          top: 0;
          width: var(--sidebar-width);
        }
      }

      .content {
        background: var(--tz-color-bg-1);
        max-width: calc(15 * var(--grid-size) - 1px);
        min-height: calc(100vh - var(--grid-size));
        padding-block-start: var(--grid-size);
        padding-block-end: 6rem;
        padding-inline: calc(0.5 * var(--grid-size));

        @media (width >= 900px) {
          margin-inline-start: calc(var(--sidebar-width) + 2 * var(--grid-size) + 1px);
        }
      }
    </style>
  </head>
  <body>
    <div class="docs">
      <header class="docs-header-nav">
        <DocsHeaderNav />
      </header>
      <main class="main">
        <div class="docs-sidenav">
          <DocsSidenav />
        </div>
        <div class="content md-content">
          <slot />
          <DocsFooterNav />
        </div>
        <div />
      </main>
    </div>
    <script src="../scripts/copy-code.js"></script>
    <script src="../scripts/tabs.js"></script>
    <script src="../scripts/toc.js"></script>
  </body>
</html>
