---
import DocsNav from '../components/DocsNav.astro';
import DocsPagination from '../components/DocsPagination.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import SkipToMain from '../components/SkipToMain.astro'

const { content = {} } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <Head title={content.title || 'Docs'} />
    <style>
      .docs {
        display: flex;
        padding-right: 9.5rem;
      }

      .content {
        margin-top: -2.5rem;
      }
    </style>
  </head>
  <body>
    <SkipToMain />
    <Nav />
    <div class="docs">
      <DocsNav />
      <main class="wrapper content md-content" id="#main">
        <slot />
        <DocsPagination />
      </main>
    </div>
    <Footer />
  </body>
</html>
