.container {
  position: relative;
  z-index: 10;
}

.btn {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.btnClose {
  height: 2rem;
  width: 2rem;

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.panel {
  background-color: var(--tz-color-bg-2);
  border: var(--tz-border-2);
  bottom: 0;
  display: grid;
  grid-template-rows: 2rem auto;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 40rem;

  > * {
    height: 100%;
    width: 100%;
  }

  &[hidden] {
    display: none;
  }
}

.menu {
  align-items: center;
  border-bottom: var(--tz-border-2);
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  display: inline-flex;
  font-family: var(--tz-monospace);
  font-size: 0.75rem;
  padding-inline: 0.5rem;
}
