name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: pnpm run lint
  test:
    strategy:
      matrix:
        node-version: [24]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: pnpm exec playwright install
      - run: pnpm test
  test-node-20:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: pnpm exec playwright install
      - run: pnpm run build
      - run: pnpm --filter @terrazzo/cli run test
  # Note: macOS tests disabled due to some persistent, unknown failures in how Turborepo/pnpm orchestrate test runs
  # Since macOS is the primary OS of development, and there are no known deviations from linux, the linux tests
  # currently act as macOS support.
  #
  # test-macos:
  #   runs-on: macos-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: actions/setup-node@v6
  #       with:
  #         node-version: 24
  #     - uses: pnpm/action-setup@v4
  #       with:
  #         run_install: true
  #     - run: pnpm exec playwright install
  #     - run: pnpm test
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: pnpm exec playwright install
      - run: pnpm -r build && pnpm -r test
