name: release

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for npm publish https://docs.npmjs.com/trusted-publishers
  contents: write
  pull-requests: write

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          run_install: true
      - run: pnpm run build
      - uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm exec changeset publish --dry-run
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
